<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    header {
     

      background-color: #90c9a7;
      color: white;
      text-align: center;
      padding: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 100%;
      z-index: 1000;
    }

    .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      max-width: 90%;
      margin: 80px auto 20px;
    }

    .tarjeta {
      width: 280px;
      background-color: white;
      border-radius: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease;
    }

    .tarjeta:hover {
      transform: translateY(-10px);
    }

    .imagen-circulo {
      width: 100%;
      height: 120px;
      overflow: hidden;
      border-bottom: 1px solid #ccc;
    }

    .imagen-circulo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .titulo {
      font-size: 20px;
      font-weight: bold;
      padding: 15px 10px;
      text-align: center;
    }

    .cuerpo {
      padding: 15px 10px;
    }

    .cuerpo a {
      display: block;
      padding: 8px 0;
      text-decoration: none;
      color: #333;
      text-align: center;
      border-top: 1px solid #ccc;
    }

    .pie {
      background:  #90c9a7;
      border-radius: 0 0 15px 15px;
      padding: 10px;
      text-align: center;
    }

    .pie a {
      text-decoration: none;
      color: black;
    }
      header{
padding: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    z-index: 1500; /* Asegura que esté por encima del encabezado */


  }
  #vi{
  width: 100%;
}
#selected{

  position: relative;
            top: 20px;
            left: 72%;
            width: 60px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
          float: inline-start;
            cursor: pointer;

}

    #car{
 
      position: relative;
            top: 20px;
            left: 85%;
            width: 40px;
            height: 40px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
          float: inline-start;
            cursor: pointer;
    }
     #campana {
            position: relative;
            top: 20px;
            left: 80%;
            width: 40px;
            height: 40px;
            background-image: url('/imagenes/campana.png');
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
          float: inline-start;
            cursor: pointer;
        }

      #numNotificacionesSinLeer {
            position: absolute;
            top: 5px;
            right: -7px;
            background-color: #d9d9d9;
            color: black;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            font-weight: bold;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        /* Estilos de la ventana emergente */
        #ventanaEmergente {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 1px solid black;
            border-radius: 10px;
            z-index: 9999;
        }

        #ventanaEmergente h2 {
            margin-top: 0;
        }

        #btnCerrar {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
        }
    header{
   left: 4%;
padding: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    z-index: 1500; /* Asegura que esté por encima del encabezado */


    }
   #ingreso{
    padding: 4px;
   border-radius: 3px;
    text-align: center;
    font-size: 30px;
    position: relative;
    width: 10%;
   color: black;
   left: 90%;
    top: -20%;
float: none;

   }
#toggleNavButton{
    border: 0px;
    padding: 0;
    margin: 0;
    background-color: white;
    bottom:40px;
    left: 3%;
position: relative;
float: left;
cursor: pointer;
width: 10%;
   z-index: 1500; /* Asegura que esté por encima del encabezado */
}
a:hover{


    background-color:#90c9a7 ;
}
.opera{
  align-items: center;
  border border-radius: 10px;
  position: relative;
  width: 20%;
  padding: 5px;
background-color: #ccc;
text-align: center;


}
  </style>
</head>
<body>
<div id="button-container">
        <a id="rastreo" href="/ver_ubicaiones">
            <img id="car"  src="imagenes/rastreo-de-orden.png" alt="">
        </a>
    </div>
<div id="campana" onclick="mostrarVentanaEmergente()">
    <div id="numNotificacionesSinLeer"></div>
</div>
<header>
                          <a href="/logout" ><img  id="selected" src="/imagenes/apagar.png" alt=""></a>

            <h1 id="ingreso" >{{name}}</h1>

    </button>
 
</header>
<br>
<br>
<br>
<div class="opera">
<h1>OPERACIONES</h1>
</div>

<div class="menu">

<div class="tarjeta">
  <div class="imagen-circulo">
    <img src="imagenes/avion.png" alt="Imagen de la tarjeta">
  </div>
  <div class="titulo">RECEPCIONES</div>
  <div class="cuerpo">
        <a href="/formulario">AGREGAR</a>

    <a href="/buscar_por_fecha">CONSULTAR</a>
    {{#if callcenter}}
    <a href="#">EDITAR</a>
       {{/if}}

  </div>
  <div class="pie">
    <a href="#">Más información</a>
  </div>
</div>
<br>
<br>


 


<div class="tarjeta">
  <div class="imagen-circulo">
    <img src="imagenes/coche.png.jpg" alt="Imagen de la tarjeta">
  </div>
  <div class="titulo">VEHICULOS</div>
  <div class="cuerpo">

 
    {{#if auxiliar}}
        <a href="/agregar-vehiculo">AGREGAR</a>
      {{/if}}
   
    {{#if ejecutivo}}

          <a href="/consulta-vehiculos2">CONSULTAR</a>
           {{/if}}
           {{#if auxiliar}}
      <a href="/consulta-vehiculos">CONSULTAR</a>
          {{/if}}

      {{#if auxiliar}}
    <a href="/consulta-vehiculos">EDITAR</a>
      {{/if}}
{{#if auxiliar}}
        <a href="/consulta_vencidos">DOCUMENTOS VENCIDOS</a>
      {{/if}}
  </div>
  <div class="pie">
    <a href="#">Más información</a>
  </div>
</div>

<br>
<br>
     




<div class="tarjeta">
  <div class="imagen-circulo">
    <img src="imagenes/conductor.jpg" alt="Imagen de la tarjeta">
  </div>
  <div class="titulo">CONDUCTORES</div>
 <div class="cuerpo">
 {{#if auxiliar}}
     
        <a href="/agregar-conductor">AGREGAR</a>
  {{/if}}

    {{#if ejecutivo}}
        <a href="/consulta-conductores2">CONSULTAR</a>
  {{/if}}

 {{#if auxiliar}}

    <a href="/consulta-conductores">CONSULTAR</a>
     {{/if}}
          {{#if auxiliar}}
    <a href="/consulta-conductores">EDITAR</a>
     {{/if}}
  </div>
  <div class="pie">
    <a href="#">Más información</a>
  </div>
</div>

<br>
<br>

<br>






<div class="tarjeta">
  <div class="imagen-circulo">
    <img src="imagenes/no-conforme.png.jpg" alt="Imagen de la tarjeta">
  </div>
  <div class="titulo">SERVICIOS NO CONFORMES</div>
 <div class="cuerpo">
        <a href="/novedades_viancoo">AGREGAR</a>
           {{#if director}}
  <a href="/ver_novedades_vianco">PENDIENTES POR REVISAR</a>
    {{/if}}
    <a href="/ver_vianco">CONSULTAR</a>
  
  </div>
  <div class="pie">
    <a href="#">Más información</a>
  </div>
</div>

<br>
<br>









<div class="tarjeta">
  <div class="imagen-circulo">
    <img src="imagenes/calendario.jpg" alt="Imagen de la tarjeta">
  </div>
  <div class="titulo">PROGRAMACION VEHICULOS</div>
 <div class="cuerpo">
        <a href="/llegadas_salidas">AGREGAR LLEGAS Y SALIDAS</a>
        <a href="/programacion-vehiculos">AGREGAR PROGRAMACION</a>
        <a href="/ver-programacion">CONSULTAR</a>
  </div>
  <div class="pie">
    <a href="#">Más información</a>
  </div>
</div>




<br>

  {{#if auxiliar}}

<div class="tarjeta">
  <div class="imagen-circulo">
    <img src="imagenes/riesgo.png" alt="Imagen de la tarjeta">
  </div>
  <div class="titulo">ADMINISTRACION</div>
 <div class="cuerpo">
        <a href="/agregar-contabilidad">AGREGAR</a>

    <a href="/consulta-contabilidad">CONSULTAR</a>
    <a href="/consulta-contabilidad">EDITAR</a>
  </div>
  <div class="pie">
    <a href="#">Más información</a>
  </div>
</div>

<br>
   {{/if}}

{{#if callcenter}}
  <div class="tarjeta">
    <div class="imagen-circulo">
      <img src="/imagenes/call.jpg" alt="Imagen de la tarjeta">
    </div>
    <div class="titulo">CENTRO OPERACIONES</div>
    <div class="cuerpo">
      <a href="/inicio">INICIAR TURNO</a>
      <a href="/novedades">AGREGAR NOVEDAD</a>
      <a href="/ver_novedades_C">CONSULTAR NOVEDADES</a>
 
    </div>
    <div class="pie">
      <a href="#">Más información</a>
    </div>
  </div>
{{/if}}
{{#if director}}
  <div class="tarjeta">
    <div class="imagen-circulo">
      <img src="/imagenes/call.jpg" alt="Imagen de la tarjeta">
    </div>
    <div class="titulo">CENTRO OPERACIONES</div>
    <div class="cuerpo">
      <a href="/inicio">INICIAR TURNO</a>
      <a href="/novedades">AGREGAR NOVEDAD</a>
      <a href="/ver_novedades_C">CONSULTAR NOVEDADES</a>
      <a href="/ver_novedades">NOVEDADES PENDIENTES</a>
    </div>
    <div class="pie">
      <a href="#">Más información</a>
    </div>
  </div>
{{/if}}



<br>

  {{#if auxiliar}}

<div class="tarjeta">
  <div class="imagen-circulo">
    <img src="/imagenes/acuerdo-de-contribuyente.jpg" alt="Imagen de la tarjeta">
  </div>
  <div class="titulo">CLIENTES</div>
 <div class="cuerpo">
        <a href="/nuevo_cliente">AGREGAR</a>

    <a href="/clientess">CONSULTAR</a>
    <a href="">EDITAR</a>
  </div>
  <div class="pie">
    <a href="#">Más información</a>
  </div>
</div>

<br>

   {{/if}}
 {{#if director}}
<div class="tarjeta">
  <div class="imagen-circulo">
    <img src="imagenes/evaluacion.png" alt="Imagen de la tarjeta">
  </div>
  <div class="titulo">INSPECCION </div>
 <div class="cuerpo">
        <a href="/inspeccion">AGREGAR</a>

    <a href="/consulta_inspeccion">CONSULTAR</a>
    <a href="/pagina-indicadores">INDICADORES</a>

    
  </div>
  <div class="pie">
    <a href="#">Más información</a>
  </div>
</div>

<br>

 {{/if}}
 {{#if auxiliar}}


<div class="tarjeta">
  <div class="imagen-circulo">
    <img src="imagenes/licencias.jpg" alt="Imagen de la tarjeta">
  </div>
  <div class="titulo">FUEC </div>
 <div class="cuerpo">
        <a href="/seleccionar">CREAR</a>

    <a href="/dat">CONSULTAR INDIVIDUAL</a>
    <a href="/informe_general_f">INFORME GENERAL</a>
  </div>
  <div class="pie">
    <a href="#">Más información</a>
  </div>
</div>

<br>

{{/if}}
 {{#if director}}
<div class="tarjeta">
  <div class="imagen-circulo">
    <img src="imagenes/buscar.png" alt="Imagen de la tarjeta">
  </div>
  <div class="titulo">AUDITORIA</div>
 <div class="cuerpo">
        <a href="/auditoria">AGREGAR</a>

    <a href="/consulta_auditoria">CONSULTAR </a>
    <a href="">INDICADOR</a>
  </div>
  <div class="pie">
    <a href="#">Más información</a>
  </div>
</div>

<br>


{{/if}}


<div class="tarjeta">
  <div class="imagen-circulo">
    <img src="/imagenes/inversion.png" alt="Imagen de la tarjeta">
  </div>
  <div class="titulo">COTIZACIONES</div>
 <div class="cuerpo">
        <a href="/formulario_cotizaciones">AGREGAR</a>
            <a href="/VE">CONSULTAR </a>

         {{#if director}}
    <a href="/cotizaciones_pendientes">PENDIENTES</a>
{{/if}}
      {{#if callcenter}}
    <a href="/cotizaciones_pendientes">PENDIENTES</a>
{{/if}}
  </div>
  <div class="pie">
    <a href="#">Más información</a>
  </div>
</div>

<br>





<div class="tarjeta">
  <div class="imagen-circulo">
    <img src="imagenes/tarifa.png" alt="Imagen de la tarjeta">
  </div>
  <div class="titulo">TARIFAS</div>
 <div class="cuerpo">
        <a href="">AGREGAR</a>
    <a href="/seleccionar_hotel">CONSULTAR </a>
  </div>
  <div class="pie">
    <a href="#">Más información</a>
  </div>
</div>

<br>








</div>








</body>
</html>













   