<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLEGADAS</title>
</head>
<body>

<form action="" method="POST">

<label for="cliente">Cliente Costo:</label>
<select id="clienteCosto" name="cliente" required>
    {{#each clientes}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
</select><br><br>

<label for="fecha">Fecha:</label>
<input type="date" id="fecha" name="fecha" required min="{{fechaActual}}"><br>

<label for="fecha">LLEGADAS:</label>
<input type="text" id="fecha" name="fecha" required><br>

<label for="fecha">SALIDAS:</label>
<input type="text" id="fecha" name="fecha" required><br>

<label for="fecha">OCUPACION:</label>
<input type="text" id="fecha" name="fecha" required><br>

</form>

</body>
</html>
