<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario HBS</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
      
        }

header{

    background-color: white;
}

        

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            width: 100%;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        input[type="text"], select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
        }
        button:hover {
            background-color: #0056b3;
            
        }
          #logo {
            position: relative;
            left: 90px;
            width: 400px;
        }

        #vigilado {
            float: right;
            width: 300px;
        }
    </style>
</head>
<header>
    <img id="membrete" src="/imagenes/menbrete.png"/>
    <img id="logo" src="/imagenes/logo vianco.png"/>
    <img id="vigilado" src="/imagenes/vigilado.png"/>
    <hr>
</header>
<body>
    <form>
         <h1>Inspección Vianco 2.0</h1>
        <div class="form-group">
            <label for="base">Base *</label>
            <select id="base" name="base">
                <option value="Teleport">Teleport</option>
                <option value="Hacienda">Hacienda</option>
                <option value="WTC">WTC</option>
                <option value="Terra 100">Terra 100</option>
                <option value="Pavillon">Pavillon</option>
                <option value="Urban 93">Urban 93</option>
                <option value="Estelar Calle 100">Estelar Calle 100</option>
                <option value="Parque 93">Parque 93</option>
                <option value="El Nogal">El Nogal</option>
                <option value="Hilton 72">Hilton 72</option>
                <option value="Andino">Andino</option>
                <option value="Boheme">Boheme</option>
                <option value="Corferias">Corferias</option>
                <option value="Urban 26">Urban 26</option>
                <option value="Grand Hyatt">Grand Hyatt</option>
            </select>

        </div>
        <div class="form-group">
            <input class="busqu" type="text" id="busqueda-placa" placeholder="Buscar por número de placa...">
            <label for="placa">Selecciona una placa:</label>
            <select id="placa" name="placa">
                {{#each placas}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="nombre_conductor">Nombre del Conductor *</label>
            <input type="text" id="nombre_conductor" name="nombre_conductor" required>
        </div>
        <div class="form-group">
            <label>Presentación del Conductor</label>
            <div>
                <!-- Opciones de presentación aquí -->
            </div>
        </div>
        <!-- Otros campos del formulario aquí -->
        <button type="submit">Enviar</button>
    </form>

    <script>
const busquedaPlacaInput = document.getElementById('busqueda-placa');
const placasSelect = document.getElementById('placa');
const nombreConductorInput = document.getElementById('nombre_conductor');

busquedaPlacaInput.addEventListener('input', () => {
    const searchTerm = busquedaPlacaInput.value.toLowerCase();
    const options = placasSelect.getElementsByTagName('option');

    for (let i = 0; i < options.length; i++) {
        const optionValue = options[i].value.toLowerCase();
        if (optionValue.includes(searchTerm)) {
            options[i].style.display = '';
            if (optionValue === searchTerm) {
                options[i].selected = true; // Selecciona la opción si hay una coincidencia exacta con el valor
            }
        } else {
            options[i].style.display = 'none';
        }
    }
});

placasSelect.addEventListener('change', () => {
    const selectedPlaca = placasSelect.value;
    fetch(`/obtenerNombreConductor?placa=${selectedPlaca}`)
        .then(response => response.json())
        .then(data => {
            nombreConductorInput.value = data.nombreConductor;
        })
        .catch(error => console.error('Error al obtener el nombre del conductor:', error));
});
    </script>
</body>
</html>
