<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
</head>
<body>
    <style>

*{
    
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{


    background-color: white;
}
        #logo{
    position: relative;
    left: 90px;

    width: 400px;

}
#vigilado {
    float: right; /* Alinea la imagen a la izquierda dentro del header */
    width: 300px;
}
body{

    background-color: #d9d9d9;

}

.contenido{

background-color: white;
position: relative;
align-items: center;
width: 500px;
padding: 30px;
left: 38%;
border-radius: 5px;
border: 3px solid black;
font-size: 20px;







}

     label {
        font-size: 1.2em;
        font-weight: 500;
        color: #2e2e2e;
        text-transform: uppercase;
    
    }

 

   .volver-btn:hover {
            background-color: #d9d9d9;
            }
       
                 .volver-btn {
                    position:relative;
                    left: 20%;
                    top: 0px;

                    text-transform:uppercase;
           background-color:#90c9a7;
             color: #000;
            border: none;
            padding: 22px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
           margin-top: 20px;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
       
        }
        .enviar:hover {
            background-color: #d9d9d9;
        }
        .enviar{
            position:relative;
                    

                    
           background-color:#90c9a7;
            color: #000;
            border: none;
            padding: 25px 38px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            left: 10px;
            font-size: 30px;



        }
      

h1{
    position: relative;
    align-items: center;
text-align: center;
background-color: rgb(144, 201, 167,0.5);
width: 980px;
left: 25%;
font-size: 40px;
border-radius: 10px;
}
  footer{
            background-color: #222;
            padding: 4.9rem;
            color: #ffff;
            position:relative;
         
            margin: 0;
        }
        footer section{
            float:right ;
            margin:0;
            position: relative;
            top: -60px;
        }
        footer a{
            transition: color 0.3s ease;
            color: #ffff;
            text-decoration: none;
        }
        footer a:hover{
            color: rgb(162, 204, 170);
        }
        footer p{
            position:relative;
            float: left;
            left: -1199px;
            color: #ffff;
            font-size: 20px;
        }
        .bad{
            font-size: 20px;
            position: relative;
            color:rgb(113, 112, 111);
            right: -20px;
            top: 6px;
        }
        .ok{
            font-size: 20px;
            position: relative;
            top: 30px;
        }
        #sele{
            font-size: 30px;


        }
        h1{
            font-size: 50px;

        }
        /* Estilos para el label */
        label {
            font-weight: bold; /* Texto en negrita */
            margin-bottom: 50px; /* Espacio inferior */
            color: #333; /* Color del texto */
        }
        .fond{
          width: 100%;
    }
    #fecha {
  font-size: 20px;
  padding: 8px;
}

/* Estilos para los campos de radio */
input[type="radio"] {
  transform: scale(1.8);
  margin-right: 5px;
}
    /* Estilos para los campos de texto */
input[type="text"],
textarea {
  font-size: 16px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
input[type="checkbox"] {
    position: relative;
    transform: scale(1.8);
    margin-left: 7px; /* Espacio entre el checkbox y el texto del label */
    float: right; /* Alineación a la derecha */
}

label {
    text-align: right; /* Alineación del texto del label a la derecha */
}
      
    </style>
     <body>
        
     </body>
        <header>
        <img id="membrete"   src="/imagenes/menbrete.png"/>
        <img  id="logo"      src="/imagenes/logo vianco.png"/>
        <img  id="vigilado"  src="/imagenes/vigilado.png"/>
        <hr>
        
       
 




    </header>
    <div class="titulo">     <br>
    <br>
    <br>
    <br>
    <h1>NOVEDADES DE TURNO CENTRO DE OPERACIONES</h1>
    <br>
    <br>
    <br>
    <br>
</div>


<!-- novedades_Callcenter.hbs -->
<div class="contenido" >
<form action="/novedades" method="post" id="novedadForm">
 
   
    <label for="turno"><strong>TURNO DE ENTREGA:</strong></label><br>
    <input type="radio" id="turnoDia" name="turno" value="dia" required>
    <label for="turnoDia">Día</label><br>
    <input type="radio" id="turnoNoche" name="turno" value="noche">
    <label for="turnoNoche">Noche</label><br>
        <br>
    <label for="realiza"><strong>Quién realiza la novedad:</strong></label><br>
    <input type="text" id="realiza" name="realiza" value="{{nombreUsuario}}"  readonly required><br>
        <br>



<select name="entrega" id="entrega">
    <option value="">A quién se entrega la novedad:</option>
    {{#each clientes}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>

<br>



<br>
<label for="sinNovedad"><strong>Sin novedad:</strong></label>
<input type="checkbox" id="sinNovedad" name="sinNovedad" onchange="handleSinNovedad()">
<br>

        <br>
        <div class="contenedor-checkboxes">
    <label for="tripulacion"><strong> TRIPULACION:</strong></label>
    <input type="checkbox" id="tripulacion" name="tema" value="tripulacion" onclick="mostrarNovedad('tripulacion')"><br>
    <div id="campoNovedad_tripulacion" style="display: none;">
        <hr>
        <label for="novedad_tripulacion">Novedades de tripulacion:</label><br>
        <textarea id="novedad_tripulacion" name="novedad_tripulacion" rows="4" cols="50"></textarea><br>
    </div>
        <br>
    <label for="hoteleria"><strong>HOTELERIA</strong> </label>
    <input type="checkbox" id="hoteleria" name="tema" value="hoteleria" onclick="mostrarNovedad('hoteleria')"><br>
    <div id="campoNovedad_hoteleria" style="display: none;">
        <hr>
        <label for="novedad_hoteleria">Novedades de hoteleria:</label><br>
        <textarea id="novedad_hoteleria" name="novedad_hoteleria" rows="4" cols="50"></textarea><br>
    </div>
        <br>
    <label for="ejecutivos"><strong> EJECUTIVOS:</strong></label>
    <input type="checkbox" id="ejecutivos" name="tema" value="ejecutivos" onclick="mostrarNovedad('ejecutivos')"><br>
    <div id="campoNovedad_ejecutivos" style="display: none;">
        <hr>
        <label for="novedad_ejecutivos">Novedades ejecutivos:</label><br>
        <textarea id="novedad_ejecutivos" name="novedad_ejecutivos" rows="4" cols="50"></textarea><br>
    </div>
        <br>
    <label for="empresasPrivadas"><strong> EMPRESAS PRIVADAS:</strong></label>
    <input type="checkbox" id="empresasPrivadas" name="tema" value="empresasPrivadas" onclick="mostrarNovedad('empresasPrivadas')"><br>
    <div id="campoNovedad_empresasPrivadas" style="display: none;">
       <hr>
        <label for="novedad_empresasPrivadas">Novedades empresas privadas:</label><br>
        <textarea id="novedad_empresasPrivadas" name="novedad_empresasPrivadas" rows="4" cols="50"></textarea><br>
    </div>
    <br>
    <!-- Campo Novedades TaskGo -->
    <label for="NOVEDADES_TASKGO"><strong>NOVEDADES TASKGO:</strong> </label>
    <input type="checkbox" id="NOVEDADES_TASKGO" name="tema" value="NOVEDADES_TASKGO" onclick="mostrarNovedad('NOVEDADES_TASKGO')"><br>
    <div id="campoNovedad_NOVEDADES_TASKGO" style="display: none;">
        <hr>
        <label for="novedad_NOVEDADES_TASKGO">NOVEDADES DE TASKGO:</label><br>
        <textarea id="novedad_NOVEDADES_TASKGO" name="novedad_NOVEDADES_TASKGO" rows="4" cols="50"></textarea><br>
    </div>
    <br>
    <!-- Campo Novedades Actas de Tripulación -->
    <label for="ACTAS"><strong> ACTAS DE TRIPULACION:</strong></label>
    <input type="checkbox" id="ACTAS" name="tema" value="ACTAS" onclick="mostrarNovedad('ACTAS')"><br>
    <div id="campoNovedad_ACTAS" style="display: none;">
          <hr>
        <label for="novedad_ACTAS">NOVEDADES ACTAS DE TRIPULACION:</label><br>
        <textarea id="novedad_ACTAS" name="novedad_ACTAS" rows="4" cols="50"></textarea><br>
    </div>
    <br>
    <!-- Campo Otras Novedades -->
    <label for="OTRAS"> <strong>OTRAS NOVEDADES:</strong></label>
    <input type="checkbox" id="OTRAS" name="tema" value="OTRAS" onclick="mostrarNovedad('OTRAS')"><br>
    <div id="campoNovedad_OTRAS" style="display: none;">
      <hr>
        <label for="novedad_OTRAS">novedades ADICIONALES:</label><br>
        <textarea id="novedad_OTRAS" name="novedad_OTRAS" rows="4" cols="50"></textarea><br>
    </div>
   
    <br>
    <br>
    <label for="firma"><strong>Firma de quien recibe:</strong></label><br>
    <canvas id="firmaCanvas" width="400" height="200" style="border:1px solid #000;"></canvas><br>
    <button type="button" onclick="limpiarFirma()">Limpiar Firma</button><br>
<input type="hidden" id="firmaBase64" name="firmaBase64"><!-- Aquí se almacenará la firma en formato base64 -->

<hr>
</div>
<input class="enviar" type="submit" value="Enviar" onclick="guardarFirma()">
       <a href="/" class="volver-btn"><strong> Volver al Menú </strong></a>

</form>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
</body>


<script>
function mostrarNovedad(id) {
    var elemento = document.getElementById('campoNovedad_' + id);
    if (elemento.style.display === 'none') {
        elemento.style.display = 'block';
    } else {
        elemento.style.display = 'none';
    }
}
// Obtener el canvas y el contexto
var canvas = document.getElementById('firmaCanvas');
var ctx = canvas.getContext('2d');

// Variables para controlar el estado de la firma
var firmaActiva = false;
var lastX = 0;
var lastY = 0;

// Eventos de ratón para dibujar la firma
canvas.addEventListener('mousedown', function(e) {
    firmaActiva = true;
    [lastX, lastY] = [e.offsetX, e.offsetY];
});

canvas.addEventListener('mousemove', function(e) {
    if (firmaActiva) {
        var currentX = e.offsetX;
        var currentY = e.offsetY;
        ctx.beginPath();
        ctx.moveTo(lastX, lastY);
        ctx.lineTo(currentX, currentY);
        ctx.stroke();
        [lastX, lastY] = [currentX, currentY];
    }
});

canvas.addEventListener('mouseup', function() {
    firmaActiva = false;
});

// Convertir la firma en base64 y almacenarla en el campo oculto
function guardarFirma() {
    var firmaBase64 = canvas.toDataURL();
    console.log("Firma en formato base64:", firmaBase64);
    document.getElementById('firmaBase64').value = firmaBase64;
}

function limpiarFirma() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    document.getElementById('firmaBase64').value = '';
    console.log("Firma borrada");
}
canvas.addEventListener('touchstart', function(e) {
    firmaActiva = true;
    var touch = e.touches[0];
    [lastX, lastY] = [touch.clientX - canvas.offsetLeft, touch.clientY - canvas.offsetTop];
});

canvas.addEventListener('touchmove', function(e) {
    e.preventDefault(); // Evita el desplazamiento de la página en dispositivos táctiles
    if (firmaActiva) {
        var touch = e.touches[0];
        var currentX = touch.clientX - canvas.offsetLeft;
        var currentY = touch.clientY - canvas.offsetTop;
        ctx.beginPath();
        ctx.moveTo(lastX, lastY);
        ctx.lineTo(currentX, currentY);
        ctx.stroke();
        [lastX, lastY] = [currentX, currentY];
    }
});

canvas.addEventListener('touchend', function() {
    firmaActiva = false;
});

function handleSinNovedad() {
    var sinNovedadCheckbox = document.getElementById('sinNovedad');
    var camposNovedades = document.querySelectorAll('.contenedor-checkboxes input[type="checkbox"]');
    var camposNovedadesTextarea = document.querySelectorAll('.contenedor-checkboxes textarea');

    if (sinNovedadCheckbox.checked) {
        // Si se marca "Sin novedad", deshabilitar todos los campos de novedades
        camposNovedades.forEach(function(campo) {
            campo.disabled = true;
        });
        // También borrar cualquier texto en los campos de texto
        camposNovedadesTextarea.forEach(function(textarea) {
            textarea.value = '';
        });
    } else {
        // Si se desmarca "Sin novedad", habilitar los campos de novedades
        camposNovedades.forEach(function(campo) {
            campo.disabled = false;
        });
    }
}


</script>

</body>
</html>