<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Novedades por Fecha</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        #fechasContainer, #novedadesContainer {
            margin: 20px auto;
            width: 80%;
            max-width: 800px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
           
           
         
            cursor: pointer;
            margin-bottom: 15px;
            padding: 10px;
            border: 3px solid #000;
            background-color: #fff;
            color: black;
        }
        li:hover {
            background-color: #90c9a7;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
  th, td {
    border-radius: 3px;
    padding: 10px;
    border-bottom: 5px solid #fff;
    position: relative;
}
        th {

            font-size: 25px;

            background-color: #f2f2f2;
        }
        td{
            

            font-size: 20px;

        }
                #logo{
    position: relative;
    left: 90px;

    width: 400px;

}
#vigilado {
    float: right; /* Alinea la imagen a la izquierda dentro del header */
    width: 300px;
}
#fechasContainer {
    text-align: center;
    font-size: 22px;
}

#fechasContainer p {
    font-weight: bold;
}
.noveda{
    border-radius: 5px;
    padding: 25px;
    margin: 20px;
    background-color:white;
    border: 3px solid black;
}
body{

background-color: rgb(217, 217, 217,0.3);

}
header{

background-color: white;

}
.noveda h3{
    text-align: center;


}
.campo1{

    background-color:rgb(217, 217, 217,0.3);


}
.campo2{

    background-color:rgb(144, 201, 167,0.3);

}
.campo3{

    background-color:rgb(217, 217, 217,0.3);


}
.campo4{

    background-color:rgb(144, 201, 167,0.3);

}
.campo5{

    background-color:rgb(217, 217, 217,0.3);


}
.campo6{

    background-color:rgb(144, 201, 167,0.3);

}
.campo7{

    background-color:rgb(217, 217, 217,0.3);


}
    </style>
</head>
<body>
           <header>
        <img id="membrete"   src="/imagenes/menbrete.png"/>
        <img  id="logo"      src="/imagenes/logo vianco.png"/>
        <img  id="vigilado"  src="/imagenes/vigilado.png"/>
        <hr>
        
    

    </header>
   
    <br>
    <br>
    <h1>NOVEDADES PENDIENTES</h1>
    <br>
    <br>
    <div id="fechasContainer">
        <!-- Aquí se mostrarán las fechas disponibles -->
    </div>

    <div id="novedadesContainer">
        <!-- Aquí se mostrarán las novedades -->
    </div>





    <script>
        document.addEventListener('DOMContentLoaded', function() {
            obtenerTodasLasFechas(); // Llama a la función correcta para obtener las fechas disponibles
        });

        function obtenerTodasLasFechas() {
            fetch('/api/obtener_fechas_disponibles')
                .then(response => response.json())
                .then(fechas => {
                    const fechasContainer = document.getElementById('fechasContainer');
                    fechasContainer.innerHTML = ''; // Limpiar contenido anterior

                    if (fechas.length === 0) {
                        fechasContainer.innerHTML = '<p>No hay fechas disponibles.</p>';
                    } else {
                        const listaFechas = document.createElement('ul');
                        fechas.forEach(fecha => {
                            // Formatear la fecha
                            const fechaFormateada = new Date(fecha).toLocaleDateString('es-ES', { year: 'numeric', month: '2-digit', day: '2-digit' });

                            const listItem = document.createElement('li');
                            listItem.textContent = fechaFormateada;
                            listItem.style.cursor = 'pointer';
                            listItem.addEventListener('click', function() {
                                obtenerNovedadesPorFecha(fecha); // Pasa la fecha como argumento
                            });
                            listaFechas.appendChild(listItem);
                        });
                        fechasContainer.appendChild(listaFechas);
                    }
                })
                .catch(error => console.error('Error al obtener las fechas disponibles:', error));
        }

function obtenerNovedadesPorFecha(fechaSeleccionada) {
    // Formatear la fecha como 'YYYY-MM-DD'
    const fechaFormateada = new Date(fechaSeleccionada).toISOString().split('T')[0];

    fetch(`/api/obtener_novedades?fecha=${fechaFormateada}`)
        .then(response => response.json())
        .then(novedades => {
            console.log('Novedades:', novedades);
            const novedadesContainer = document.getElementById('novedadesContainer');
            novedadesContainer.innerHTML = ''; // Limpiar contenido anterior

            if (novedades.length > 0) {
                const formulario = document.createElement('form');

                novedades.forEach(novedad => {
                    const fila = document.createElement('div');
                    fila.classList.add('fila');

                    fila.innerHTML = `
                    <br>
                    <div class="noveda">
                        <h3> HORARIO DE ENTREGA:  <span>${novedad.fecha_registro ? formatFechaRegistro(novedad.fecha_registro) : ''}</span></h3>
                        <br>

                        <div class="campo">
                            <label> <strong>FECHA DE LA NOVEDAD:</strong></label>
                            <span>${novedad.fecha ? new Date(novedad.fecha).toLocaleDateString() : ''}</span>
                        </div>
                      
                        <div class="campo">
                            <label><strong>TURNO:</strong></label>
                            <span>${novedad.turno || ''}</span>
                        </div>
                        <div class="campo">
                            <label><strong>ENTREGA:</strong></label>
                            <span>${novedad.realiza || ''}</span>
                        </div>

                        <div class="campo">
                            <label><strong>RECIBE:</strong></label>
                            <span>${novedad.entrega || ''}</span>
                        </div>

                  
                  
                        ${novedad.novedad_tripulacion ? `
                        <div class="campo1">
                            <label><strong>NOVEDADES DE TRIPULACION:</strong></label>
                            <span>${novedad.novedad_tripulacion}</span>
                            <br>
                            <br>
                            <hr>
                        </div>` : ''}

                        ${novedad.novedad_hoteleria ? `
                        <div class="campo2">
                            <label><strong>NOVEDADES DE HOTELERIA:</strong></label>
                            <span>${novedad.novedad_hoteleria}</span>
                            <br>
                            <br>
                            <hr>
                        </div>` : ''}

                        ${novedad.novedad_ejecutivos ? `
                        <div class="campo3">
                            <label><strong>NOVEDADES DE EJECUTIVOS:</strong></label>
                            <span>${novedad.novedad_ejecutivos}</span>
                            <br>
                            <br>
                            <hr>
                        </div>` : ''}

                        ${novedad.novedad_empresas_privadas ? `
                        <div class="campo4">
                            <label><strong>NOVEDADES DE EMPRESAS:</strong></label>
                            <span>${novedad.novedad_empresas_privadas}</span>
                            <br>
                            <br>
                            <hr>
                        </div>` : ''}

                        ${novedad.NOVEDADES_TASKGO ? `
                        <div class="campo5">
                            <label><strong>NOVEDADES DE TASKGO:</strong></label>
                            <span>${novedad.NOVEDADES_TASKGO}</span>
                            <br>
                            <br>
                            <hr>
                        </div>` : ''}

                        ${novedad.novedad_ACTAS ? `
                        <div class="campo6">
                            <label><strong>NOVEDADES DE ACTAS:</strong></label>
                            <span>${novedad.novedad_ACTAS}</span>
                            <br>
                            <br>
                            <hr>
                        </div>` : ''}
                            <br>
                            <br>


                        ${novedad.otras_novedades ? `
                        <div class="campo7">
                            <label><strong>OTRAS NOVEDADES:</strong></label>
                            <span>${novedad.otras_novedades}</span>
                            <br>
                            <br>
                        </div>` : ''}

                              <!-- Mostrar la firma si está presente -->
                        ${novedad.firma ? `
                        <div class="campo">
                            <label><strong>FIRMA DE QUIEN RECIBE :</strong></label><br>
                            <img src="${novedad.firma}" alt="Firma" style="max-width: 100%;">
                        </div>` : ''}

                        <div class="campo">
<button type="button" onclick="mostrarFormularioSeguimiento(${novedad.id})">Seguimiento</button>
                        </div>

                    </div>
                    <hr>`;
// Agregar evento click para mostrar detalles de la novedad
fila.addEventListener('click', function() {
    mostrarDetallesNovedad(novedad);
});

formulario.appendChild(fila);

// Aquí se agrega el contenedor del formulario de seguimiento
const formularioSeguimiento = document.createElement('div');
formularioSeguimiento.id = `formularioSeguimiento-${novedad.id}`;
formularioSeguimiento.style.display = 'none';
formularioSeguimiento.innerHTML = `
    <h4>REALIZAR SEGUIMIENTO</h4>


    <div id="formularioSeguimientoContenido-${novedad.id}">
        <form onsubmit="guardarSeguimiento(event, ${novedad.id})">
            <!-- Campos del formulario -->

            <label for="fechaseguimiento">FECHA DEL SEGUIMIENTO:</label>
            <input type="date" id="fechaseguimiento-${novedad.id}" name="fechaseguimiento" ><BR>
            
       <label for="fecha_registro-${novedad.id}" >FECHA DE ENTREGA DE LA NOVEDAD:</label>
        <input type="text" id="fecha_registro-${novedad.id}" name="fecha_registro" placeholder="FECHA DE ENTREGA" value=""><BR>


            <label for="nombreSeguimiento-${novedad.id}">NOMBRE:</label>
            <input type="text" id="nombreSeguimiento-${novedad.id}" name="nombreSeguimiento" placeholder="Nombre de quien realiza el seguimiento"><BR>

        <label for="detalleSeguimiento-${novedad.id}">RESULTADOS DE LA AUDITORIA:</label><br>
<textarea id="detalleSeguimiento-${novedad.id}" name="detalleSeguimiento" placeholder="SOLUCION" rows="5" cols="50"></textarea><br>

            <!-- Otros campos del formulario -->
            
<button type="submit">Guardar Seguimiento</button>
        </form>
    </div>
    <br>

            
        <label for="fecha-${novedad.id}" style="display: none;">fecha:</label>
        <input type="text" id="fecha-${novedad.id}" name="fecha" placeholder="realiza" value="${novedad.fecha}" style="display: none;"><BR>


        <label for="turno-${novedad.id}"style="display: none;">turno:</label>
        <input type="text" id="turno-${novedad.id}" name="turno" placeholder="turno" value="${novedad.turno }" style="display: none;"><BR>


        <label for="realiza-${novedad.id}" style="display: none;">realiza:</label>
        <input type="text" id="realiza-${novedad.id}" name="realiza" placeholder="realiza" value="${novedad.realiza}" style="display: none;"><BR>



        <label for="entrega-${novedad.id}" style="display: none;">entrega:</label>
        <input type="text" id="entrega-${novedad.id}" name="entrega" placeholder="realiza" value="${novedad.entrega}" style="display: none;"><BR>




        <label for="novedad_hoteleria-${novedad.id}"  style="display: none;">hotel:</label>
        <input type="text" id="novedad_hoteleria-${novedad.id}" name="novedad_hoteleria" placeholder="realiza" value="${novedad.novedad_hoteleria}" style="display: none;"><BR>


        <label for="novedad_ejecutivos-${novedad.id}"  style="display: none;">hotel:</label>
        <input type="text" id="novedad_ejecutivos-${novedad.id}" name="novedad_ejecutivos" placeholder="novedad_ejecutivos" value="${novedad.novedad_ejecutivos}" style="display: none;"><BR>




        <label for="novedad_empresas_privadas-${novedad.id}"  style="display: none;">novedad_empresas_privadas:</label>
        <input type="text" id="novedad_empresas_privadas-${novedad.id}" name="novedad_empresas_privadas" placeholder="novedad_empresas_privadas" value="${novedad.novedad_empresas_privadas}"style="display: none;" ><BR>







        <label for="NOVEDADES_TASKGO-${novedad.id}"  style="display: none;">NOVEDADES_TASKGO:</label>
        <input type="text" id="NOVEDADES_TASKGO-${novedad.id}" name="NOVEDADES_TASKGO" placeholder="novedad_empresas_privadas" value="${novedad.NOVEDADES_TASKGO}"style="display: none;" ><BR>





<label for="novedad_ACTAS-${novedad.id}"  style="display: none;">novedad_ACTAS:</label>
        <input type="text" id="novedad_ACTAS-${novedad.id}" name="novedad_ACTAS" placeholder="novedad_ACTAS" value="${novedad.novedad_ACTAS}"style="display: none;" ><BR>





<label for="otras_novedades-${novedad.id}"  style="display: none;">otras_novedades:</label>
        <input type="text" id="otras_novedades-${novedad.id}" name="novedad_ACTAS" placeholder="otras_novedades" value="${novedad.otras_novedades}"style="display: none;" ><BR>





<label for="firma-${novedad.id}"  style="display: none;">firma:</label>
        <input type="text" id="firma-${novedad.id}" name="firma" placeholder="firma" value="${novedad.firma}"style="display: none;" ><BR>








            <label for="novedadestripulacion-${novedad.id}" style="display: none;">TRIPULACION: </label>
             <input type="text" id="novedadestripulacion-${novedad.id}" name="novedadestripulacion" placeholder="Detalle" value="${novedad.novedad_tripulacion}" style="display: none;"><BR>


         


`;

novedadesContainer.appendChild(formularioSeguimiento);
                    });

                novedadesContainer.appendChild(formulario);
                    // Agregar evento click al botón de guardar en el formulario de seguimiento
    const botonGuardar = document.getElementById(`guardarSeguimiento-${novedad.id}`);
    botonGuardar.addEventListener('click', function() {
        guardarSeguimiento(novedad.id, novedad); // Llama a la función guardarSeguimiento
    });

            } else {
                novedadesContainer.innerHTML = '<p>No hay novedades disponibles para esta fecha.</p>';
            }
        })
        .catch(error => console.error('Error al obtener las novedades:', error));
}


function formatFechaRegistro(fechaRegistro) {
    const date = new Date(fechaRegistro);
    const formattedDate = `${date.getFullYear()}-${padNumber(date.getMonth() + 1)}-${padNumber(date.getDate())} ${padNumber(date.getHours())}:${padNumber(date.getMinutes())}`;
    return formattedDate;
}

function padNumber(num) {
    return num.toString().padStart(2, '0');
}

// Suponiendo que 'response' contiene los datos de la respuesta JSON del backend que incluye la firma binaria
const firmaBinaria = response.firma;

// Convierte los datos binarios en una URL de objeto
const urlFirma = URL.createObjectURL(new Blob([firmaBinaria]));

// Muestra la firma en una imagen en el HTML
const imagenFirma = document.getElementById('imagenFirma');
imagenFirma.src = urlFirma;


// Función para obtener la novedad por su ID
function obtenerNovedadPorId(idNovedad) {
    // Obtener todas las filas que representan las novedades
    const filasNovedades = document.querySelectorAll('.fila');
    
    // Iterar sobre las filas para encontrar la que corresponde al ID deseado
    for (const fila of filasNovedades) {
        // Obtener el ID de la fila actual
        const idActual = fila.getAttribute('data-novedad-id');
        
        // Convertir el ID actual a un número entero para compararlo con idNovedad
        const idActualNumero = parseInt(idActual, 10);
        
        // Verificar si el ID actual coincide con el ID buscado
        if (idActualNumero === idNovedad) {
            // Devolver los datos de la novedad correspondiente
            return {
                id: idActualNumero,
      
                // Aquí puedes obtener otros datos de la novedad según la estructura de tu HTML
                // Por ejemplo, puedes obtener el nombre del seguimiento y el detalle del seguimiento
            };
        }
    }
    
    // Si no se encuentra la novedad con el ID especificado, devolver null
    return null;
}

// Dentro de tu script JavaScript



// Función para mostrar el formulario de seguimiento
function mostrarFormularioSeguimiento(idNovedad) {
    const formularioSeguimiento = document.getElementById(`formularioSeguimiento-${idNovedad}`);
    formularioSeguimiento.style.display = 'block';
  
}
    // Aquí puedes agregar la lógica para mostrar el formulario de seguimiento


function mostrarDetallesNovedad(novedad) {
    // Implementa aquí la lógica para mostrar los detalles de la novedad
    console.log('Detalles de la novedad:', novedad);
}
function guardarSeguimiento(event, idNovedad) {
    console.log('Guardando seguimiento...'); // Agregar un console.log para verificar si la función se llama correctamente
    event.preventDefault(); // Evitar que el formulario se envíe de forma predeterminada

    // Obtener los valores de los campos de nombre y detalle del seguimiento
    const nombreSeguimiento = document.getElementById(`nombreSeguimiento-${idNovedad}`).value;
    const detalleSeguimiento = document.getElementById(`detalleSeguimiento-${idNovedad}`).value;
    const novedadestripulacion = document.getElementById(`novedadestripulacion-${idNovedad}`).value;
    const fechaseguimiento = document.getElementById(`fechaseguimiento-${idNovedad}`).value;
    const turno = document.getElementById(`turno-${idNovedad}`).value;
    const realiza = document.getElementById(`realiza-${idNovedad}`).value;
    const entrega = document.getElementById(`entrega-${idNovedad}`).value;
    const fecha = document.getElementById(`fecha-${idNovedad}`).value;
    const novedad_hoteleria = document.getElementById(`novedad_hoteleria-${idNovedad}`).value;
    const fecha_registro = document.getElementById(`fecha_registro-${idNovedad}`).value;
    const novedad_ejecutivos = document.getElementById(`novedad_ejecutivos-${idNovedad}`).value;
    const novedad_empresas_privadas = document.getElementById(`novedad_empresas_privadas-${idNovedad}`).value;
    const NOVEDADES_TASKGO = document.getElementById(`NOVEDADES_TASKGO-${idNovedad}`).value;
    const novedad_ACTAS = document.getElementById(`novedad_ACTAS-${idNovedad}`).value;
    const otras_novedades = document.getElementById(`otras_novedades-${idNovedad}`).value;
    const firma = document.getElementById(`firma-${idNovedad}`).value;







    // Crear un objeto con los datos del seguimiento
    const seguimientoData = {
    id: idNovedad,
    nombreSeguimiento: nombreSeguimiento,
    detalleSeguimiento: detalleSeguimiento,
    novedadestripulacion: novedadestripulacion,
    fechaseguimiento: fechaseguimiento, // Asegúrate de que este valor sea una fecha válida
    nombre: 'NombreEjemplo', // Aquí debes proporcionar el valor deseado para el campo nombre
    turno:turno,
    realiza:realiza,
    entrega:entrega,
    fecha:fecha,
    novedad_hoteleria:novedad_hoteleria,
    fecha_registro:fecha_registro,
    novedad_ejecutivos:novedad_ejecutivos,
    novedad_empresas_privadas:novedad_empresas_privadas,
    NOVEDADES_TASKGO:NOVEDADES_TASKGO,
    novedad_ACTAS:novedad_ACTAS,
    otras_novedades:otras_novedades,
firma:firma,








};


    // Enviar los datos del seguimiento al servidor usando una solicitud fetch
    fetch('/api/guardar_seguimiento', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(seguimientoData)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Error al guardar el seguimiento');
        }
        // Eliminar el formulario de seguimiento del DOM después de guardar exitosamente
        const formularioSeguimiento = document.getElementById(`formularioSeguimiento-${idNovedad}`);
        formularioSeguimiento.parentNode.removeChild(formularioSeguimiento);
        // Mostrar un mensaje de éxito o realizar otras acciones necesarias
        console.log('Seguimiento guardado correctamente');
    })
    .catch(error => {
        console.error('Error al guardar el seguimiento:', error);
        // Manejar errores de forma adecuada, como mostrar un mensaje de error al usuario
    });
}


    </script>
</body>
</html>












