<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Novedades por Fecha</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        #fechasContainer, #novedadesContainer {
            margin: 20px auto;
            width: 80%;
            max-width: 800px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
           
           
         
            cursor: pointer;
            margin-bottom: 15px;
            padding: 10px;
            border: 3px solid #000;
            background-color: #fff;
            color: black;
        }
        li:hover {
            background-color: #90c9a7;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
  th, td {
    border-radius: 3px;
    padding: 10px;
    border-bottom: 5px solid #fff;
    position: relative;
}
        th {

            font-size: 25px;

            background-color: #f2f2f2;
        }
        td{
            

            font-size: 20px;

        }
                #logo{
    position: relative;
    left: 90px;

    width: 400px;

}
#vigilado {
    float: right; /* Alinea la imagen a la izquierda dentro del header */
    width: 300px;
}
#fechasContainer {
    text-align: center;
    font-size: 22px;
}

#fechasContainer p {
    font-weight: bold;
}
.noveda{
    border-radius: 5px;
    padding: 25px;
    margin: 20px;
    background-color:white;
    border: 3px solid black;
}
body{

background-color: rgb(217, 217, 217,0.3);

}
header{

background-color: white;

}
.noveda h3{
    text-align: center;


}
    </style>
</head>
<body>
           <header>
        <img id="membrete"   src="/imagenes/menbrete.png"/>
        <img  id="logo"      src="/imagenes/logo vianco.png"/>
        <img  id="vigilado"  src="/imagenes/vigilado.png"/>
        <hr>
        
    

    </header>
   
    <br>
    <br>
    <h1>NOVEDADES PENDIENTES</h1>
    <br>
    <br>
    <div id="fechasContainer">
        <!-- Aquí se mostrarán las fechas disponibles -->
    </div>

    <div id="novedadesContainer">
        <!-- Aquí se mostrarán las novedades -->
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            obtenerTodasLasFechas(); // Llama a la función correcta para obtener las fechas disponibles
        });

        function obtenerTodasLasFechas() {
            fetch('/api/obtener_fechas_disponibles')
                .then(response => response.json())
                .then(fechas => {
                    const fechasContainer = document.getElementById('fechasContainer');
                    fechasContainer.innerHTML = ''; // Limpiar contenido anterior

                    if (fechas.length === 0) {
                        fechasContainer.innerHTML = '<p>No hay fechas disponibles.</p>';
                    } else {
                        const listaFechas = document.createElement('ul');
                        fechas.forEach(fecha => {
                            // Formatear la fecha
                            const fechaFormateada = new Date(fecha).toLocaleDateString('es-ES', { year: 'numeric', month: '2-digit', day: '2-digit' });

                            const listItem = document.createElement('li');
                            listItem.textContent = fechaFormateada;
                            listItem.style.cursor = 'pointer';
                            listItem.addEventListener('click', function() {
                                obtenerNovedadesPorFecha(fecha); // Pasa la fecha como argumento
                            });
                            listaFechas.appendChild(listItem);
                        });
                        fechasContainer.appendChild(listaFechas);
                    }
                })
                .catch(error => console.error('Error al obtener las fechas disponibles:', error));
        }

function obtenerNovedadesPorFecha(fechaSeleccionada) {
    // Formatear la fecha como 'YYYY-MM-DD'
    const fechaFormateada = new Date(fechaSeleccionada).toISOString().split('T')[0];

    fetch(`/api/obtener_novedades?fecha=${fechaFormateada}`)
        .then(response => response.json())
        .then(novedades => {
            console.log('Novedades:', novedades);
            const novedadesContainer = document.getElementById('novedadesContainer');
            novedadesContainer.innerHTML = ''; // Limpiar contenido anterior

            if (novedades.length > 0) {
                const formulario = document.createElement('form');

                novedades.forEach(novedad => {
                    const fila = document.createElement('div');
                    fila.classList.add('fila');

                    fila.innerHTML = `
                    <br>
                    <div class="noveda">
                                            <h3> HORARIO DE ENTREGA:  <span>${novedad.fecha_registro ? formatFechaRegistro(novedad.fecha_registro) : ''}</span></h3>
                                            <br>

                        <div class="campo">
                            <label> <strong>FECHA DE LA NOVEDAD:</strong></label>
                            <span>${novedad.fecha ? new Date(novedad.fecha).toLocaleDateString() : ''}</span>
                        </div>
                      
                        <div class="campo">
                            <label><strong>TURNO:</strong></label>
                            <span>${novedad.turno || ''}</span>
                        </div>
                        <div class="campo">
                            <label><strong>ENTREGA:</strong></label>
                            <span>${novedad.realiza || ''}</span>
                        </div>


                         <div class="campo">
                            <label><strong>RECIBE:</strong></label>
                            <span>${novedad.entrega || ''}</span>
                        </div>

                          <br>

                         <div class="campo1">
                            <label><strong>NOVEDADES DE TRIPULACION:</strong></label>
                            <span>${novedad.novedad_tripulacion || ''}</span>
                        </div>
                            <br>
                            <br>
                            <hr>

                         <div class="campo2">
                            <label><strong>NOVEDADES DE HOTELERIA:</strong></label>
                            <span>${novedad.novedad_hoteleria || ''}</span>
                            </div>
                            <br>
                            <br>
                            <hr>

                             <div class="campo">
                            <label><strong>NOVEDADES DE EJECUTIVOS:</strong></label>
                            <span>${novedad.novedad_ejecutivos || ''}</span>
                        </div>

                            <br>
                            <br>
                            <hr>

                        <div class="campo">
                            <label><strong>NOVEDADES DE EMPRESAS:</strong></label>
                            <span>${novedad.novedad_empresas_privadas || ''}</span>
                        </div>
                            <br>
                            <br>
                            <hr>
                    
                         <div class="campo">
                            <label><strong>NOVEDADES DE TASKGO:</strong></label>
                            <span>${novedad.NOVEDADES_TASKGO || ''}</span>
                        </div>
<br>
                            <br>
                            <hr>
                        <div class="campo">
                            <label><strong>NOVEDADES DE ACTAS:</strong></label>
                            <span>${novedad.novedad_ACTAS  || ''}</span>
                        </div>

<br>
                            <br>
                            <hr>
                            <div class="campo">
                            <label><strong>OTRAS NOVEDADES:</strong></label>
                            <span>${novedad.otras_novedades  || ''}</span>
                        </div>


<br>
                            <br>
                          
 </div>

                        <hr>`;
                    formulario.appendChild(fila);
                });

                novedadesContainer.appendChild(formulario);
            } else {
                novedadesContainer.innerHTML = '<p>No hay novedades disponibles para esta fecha.</p>';
            }
        })
        .catch(error => console.error('Error al obtener las novedades:', error));
}

function formatFechaRegistro(fechaRegistro) {
    const date = new Date(fechaRegistro);
    const formattedDate = `${date.getFullYear()}-${padNumber(date.getMonth() + 1)}-${padNumber(date.getDate())} ${padNumber(date.getHours())}:${padNumber(date.getMinutes())}`;
    return formattedDate;
}

function padNumber(num) {
    return num.toString().padStart(2, '0');
}

    </script>
</body>
</html>












