<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">

    <title>Formulario de Agregar Conductor</title>
    <!-- Aquí puedes incluir tus estilos CSS -->
</head>
<body>
    <style>
        /* Estilos generales para el cuerpo de la página */
        body {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4; /* Color de fondo */
            color: #333; /* Color del texto */
        }

        /* Estilos para el encabezado */
        header {
            background-color: #fff; /* Color de fondo */
            padding: 0px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra */
        }

        /* Estilos para el contenedor principal */
        .container {
            max-width: 1700px; /* Ancho máximo */
            margin: auto; /* Centrar horizontalmente */
            padding: 20px; /* Espacio alrededor del contenido */
        }

        /* Estilos para los títulos */
        h1 {
            font-size: 32px; /* Tamaño de fuente */
            margin-top: 30px; /* Margen superior */
            margin-bottom: 20px; /* Margen inferior */
        }

        /* Estilos para el formulario */
        form {
            background-color: #fff; /* Color de fondo */
            padding: 50px; /* Espaciado interno */
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra */
           
        }

        /* Estilos para los grupos de formulario */
        .form-group {
            margin-bottom: 20px; /* Margen inferior */
        }

        /* Estilos para las etiquetas de formulario */
        .form-group label {
            display: block; /* Mostrar como bloque */
            font-size: 40px; /* Tamaño de fuente */
            margin-bottom: 5px; /* Margen inferior */
        }

        /* Estilos para los campos de entrada de formulario */
        .form-group input {
            width: 100%; /* Ancho completo */
            font-size: 20px; /* Tamaño de fuente */
            padding: 10px; /* Espaciado interno */
            border: 1px solid #ccc; /* Borde */
            border-radius: 5px; /* Radio del borde */
        }

        /* Estilos para los botones */
        button {
            background-color: #90c9a7;
            color: #000;
            border: none;
            padding: 22px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            position: relative;
            left: 220px;
        }
        #logo{
    position: relative;
    left: 90px;

    width: 400px;

}
#vigilado {
    float: right; /* Alinea la imagen a la izquierda dentro del header */
    width: 300px;
}


        /* Estilos para el hover del botón */
        button:hover {
            background-color: #d9d9d9;
        }

        label {
            padding: 12px;
            font-size: 25px;
            display: inline-block; /* Aplicamos inline-block al div */
            width: 200px; /* Ancho de la caja */
            height: 100px; /* Alto de la caja */
            background-color: ; /* Color de fondo rojo */
            margin-right: 20px; /* Margen derecho para separar las cajas */
        }

        input {
            font-size: 20px;
            text-align: justify;
            align-items: center;
            padding: 10px;
            margin-bottom: 20px;
        }

        strong {
            text-transform: uppercase;
        }

        .volver-btn {
            position:relative;
            left: 30%;
            background-color:#90c9a7;
            color: #000;
            border: none;
            padding: 22px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }

        .volver-btn:hover {
            background-color: #d9d9d9;
        }
        
        .btn {
            position:relative;
            left: 30%;
            background-color:#90c9a7;
            color: #000;
            border: none;
            padding: 22px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }

        .volver-btn:hover {
            background-color: #d9d9d9;
        }
    </style>
</head>
<body>
    <header>
        <img id="membrete"   src="/imagenes/menbrete.png"/>
        <img  id="logo"      src="../imagenes/logo vianco.png"/>
        <img  id="vigilado"  src="../imagenes/vigilado.png"/>
        <hr>
    </header>

      <div class="container">
        <div class="heading"><h1>AGREGAR CLIENTE </h1></div>
<form action="/agregar-cliente" method="POST">
    <label for="nombre">NOMBRE:</label>
    <input type="text" id="nombre" name="nombre"><br><br>

    <label for="rut">RUT:</label>
    <input type="text" id="rut" name="rut"><br><br>

    <label for="camara_comercio">CAMARA Y COMERCIO:</label>
    <input type="text" id="camara_comercio" name="camara_comercio"><br><br>

 <label for="cumpleaños">FECHA DE CUMPLEAÑOS:</label>
<input type="date" id="cumpleaños" name="cumpleaños"><br><br>

    <label for="N_contrato">N° DE CONTRATO:</label>
    <input type="text" id="N_contrato" name="N_contrato"><br><br>

    <label for="contratante">CONTRATANTE:</label>
    <input type="text" id="contratante" name="contratante"><br><br>

    <label for="nit">N° DE NIT:</label>
    <input type="text" id="nit" name="nit"><br><br>

    <label for="direccion">DIRECCION:</label>
    <input type="text" id="direccion" name="direccion"><br><br>

 <label for="correoacta">correoacta:</label>
    <input type="text" id="correoacta" name="correoacta"><br><br>



    <hr>
    <h2>DATOS PARA GENERAR FUEC </h2>
    <br>

    <label for="responsable">RESPONSABLE FUC:</label>
    <input type="text" id="responsable" name="responsable"><br><br>

    <label for="celular">CELULAR:</label>
    <input type="text" id="celular" name="celular"><br><br>

    <label for="cedula">CEDULA:</label>
    <input type="text" id="cedula" name="cedula"><br><br>

    <label for="objeto">OBEJETO CONTRATO:</label>
    <input type="text" id="objeto" name="objeto"><br><br>

    <label for="fecha_inicio">FECHA DE INICIO:</label>
    <input type="text" id="fecha_inicio" name="fecha_inicio"><br><br>

    <label for="fecha_final">FECHA FINAL:</label>
    <input type="text" id="fecha_final" name="fecha_final"><br><br>

    <label for="destino">ORIGEN-DESITNO:</label>
    <input type="text" id="destino" name="destino"><br><br>

    <button type="submit">Agregar Cliente</button>
    <a href="/consulta-conductores" class="volver-btn">Volver al Menú</a>
</form>

    </div>
</body>
</html>
