<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja de Vida del Vehículo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
          <style>

    #vigilado{
    float: right;
    position: relative;
    top: 74px;
    right: 4%;
    }
    #logo{
    position: relative;
    left: 3%;
    

}
 
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;

}


    </style>
</head>
<body>

    <header>
        <img id="membrete"   src="/imagenes/menbrete.png"/>
        <img  id="logo"      src="../imagenes/logo vianco.png"/>
        <img  id="vigilado"  src="../imagenes/vigilado.png"/>
        <hr>
        
       
 




    </header>
   
      <style>
        /* Estilo para el cuerpo del documento */
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #fff; /* Color de fondo blanco */
            color: #333; /* Color del texto principal */
            margin: 0; /* Sin margen exterior */
            padding: 0; /* Sin relleno interior */
        }
        
        /* Estilo para el contenedor principal */
        .container {
            max-width: 700px; /* Ancho máximo del contenedor */
            margin: 50px auto; /* Margen superior e inferior de 50px, centrado horizontalmente */
            padding: 30px; /* Relleno interior de 30px */
            background-color: #d9d9d9; /* Color de fondo del contenedor */
            border-radius: 10px; /* Borde redondeado */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
        }
        
        /* Estilo para los encabezados */
        h1 {
            text-align: center; /* Texto centrado */
            color: #413d4b; /* Color del texto */
            margin-bottom: 30px; /* Margen inferior de 30px */
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra del texto */
        }
        
        /* Estilo para el grupo de formularios */
        .form-group {
            margin-bottom: 20px; /* Margen inferior de 20px */
        }
        
        /* Estilo para las etiquetas de los formularios */
        label {
            font-weight: bold; /* Texto en negrita */
            display:inline-block /* Mostrar en bloque */
            margin-bottom: 5px; /* Margen inferior de 5px */
        }
        
        /* Estilo para los selectores */
        select {
            width: 100%; /* Ancho completo */
            padding: 10px; /* Relleno de 10px */
            border-radius: 5px; /* Borde redondeado */
            border: 1px solid #ccc; /* Borde de 1px sólido con color gris */
            font-size: 20px; /* Tamaño de fuente de 16px */
            background-color: #f9f9f9; /* Color de fondo */
            margin-top: 5px; /* Margen superior de 5px */
        }
        
        /* Estilo para los botones */
        .btn {
            background-color: #90c9a7; /* Color de fondo */
            color: #fff; /* Color del texto */
            border: none; /* Sin borde */
            padding: 12px 20px; /* Relleno */
            border-radius: 5px; /* Borde redondeado */
            cursor: pointer; /* Cambio de cursor al pasar */
            transition: background-color 0.3s ease; /* Transición suave */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
            display: block; /* Mostrar en bloque */
            width: 100%; /* Ancho completo */
            margin-top: 10px; /* Margen superior de 10px */
            font-size: 16px; /* Tamaño de fuente de 16px */
            font-weight: bold; /* Texto en negrita */
        }
        
        /* Estilo para los botones al pasar el cursor */
        .btn:hover {
            background-color: #90c9a7; /* Color de fondo al pasar el cursor */
        }
        
        /* Estilo para la información del vehículo */
        .info-vehiculo {
            border: 1px solid #ccc; /* Borde de 1px sólido con color gris */
            padding: 20px; /* Relleno de 20px */
            background-color: #f9f9f9; /* Color de fondo */
            border-radius: 10px; /* Borde redondeado */
            margin-top: 30px; /* Margen superior de 30px */
        }
        
        /* Estilo para los campos */
        .campo {
            margin-bottom: 15px; /* Margen inferior de 15px */
            overflow: hidden; /* Control de desbordamiento */
        }
        
        /* Estilo para las etiquetas de los campos */
        .label {
            font-weight: bold; /* Texto en negrita */
            float: left; /* Flotar a la izquierda */
            width: 220px; /* Ancho de 120px */
            color: #555; /* Color del texto */
        }
        
        /* Estilo para los datos de los campos */
        .dato {
            float: left; /* Flotar a la izquierda */
            width: calc(100% - 20px); /* Ancho calculado */
            margin-left: 20px; /* Margen izquierdo de 20px */
         
            color: #333; /* Color del texto */
        }
        
        /* Estilo para los encabezados de la información del vehículo */
        .info-vehiculo h2 {
            color: #413d4b; /* Color del texto */
            margin-bottom: 20px; /* Margen inferior de 20px */
            text-align: center; /* Texto centrado */
            font-size: 30px;
        }
        
        /* Estilo para el botón de volver */
        .volver-btn {
            background-color:#90c9a7; /* Color de fondo */
            color: #fff; /* Color del texto */
            border: none; /* Sin borde */
            padding: 12px 20px; /* Relleno */
            border-radius: 5px; /* Borde redondeado */
            cursor: pointer; /* Cambio de cursor al pasar */
            transition: background-color 0.3s ease; /* Transición suave */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
            display: inline-block; /* Mostrar en línea */
            margin-top: 20px; /* Margen superior de 20px */
            font-size: 16px; /* Tamaño de fuente de 16px */
            font-weight: bold; /* Texto en negrita */
            text-decoration: none; /* Sin decoración de texto */
        }
        
        /* Estilo para el botón de volver al pasar el cursor */
        .volver-btn:hover {
            background-color: #d9d9d9; /* Color de fondo al pasar el cursor */
        }
        
    </style>
</head>
<body>
    <div class="container">
        <h1>Hoja de Vida del Vehículo</h1>
        <form id="consulta-form">
            <div class="form-group">
                <label for="placa">Selecciona una placa:</label>
                <select id="placa" name="placa">
                    {{#each placas}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn">Consultar</button>
        </form>
        <div id="info-vehiculo" class="info-vehiculo">
            <h2>Información del Vehículo</h2>
            <hr>
            <div class="campo">
                <span class="label">SELECIONA UNA PLACA</span>
                
            </div>
      
            <!-- Agregar el botón de editar después de mostrar la información del vehículo -->
                <button class="btn editar-btn">Editar Información</button>
    <a href="/agregar-vehiculo" class="volver-btn">Agregar Nuevo Vehículo</a>

                    <a href="/" class="volver-btn">Volver al Menú</a>

            <!-- Agregar más campos de información técnica aquí -->
        </div>
    </div>
    <script src="consulta.js"></script>
</body>
</html>
