
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
<link rel="stylesheet" href="menu.css">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu principal</title>




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
   

</head>
<body>
    <header>
 

         <div class="container_menu">
            <div class="menu">
            <nav>
            <ul>
            <li><a href="#" id="selected"></a></li>  
    
            <ul>
               

                    </ul></li> 
            <li><a href="./operaciones/Poperaciones/operaciones.php">operaciones</a>
                <ul>
                    <li><a href="#">vehiculo</a></li>
                    <li><a href="#">CONDUCTORES</a></li>
                    <li><a href="#">DOCUMENTACION</a></li>
                    <li><a href="#">CONTRATOS</a></li>
                    <li><a href="#"></a></li>
                    
                    




                </ul>
            </li> 
           
          
            <li><a href="">EJECUTIVO</a>
            <ul>
        

                    <li><a href="https://erp.viancotetransporta.com/vianco/menu/ejecutivo/programacion/programacion.html">PROGRAMACION VEHICULOS</a></li>
                  
                    </ul></li> 
            <li><a href="">SOPORTE IT</a> 
            <ul>
                <li><a href="#">CITAS</a></li>
                <li><a href="#">ayuda</a></li>
              
                </ul></li > 
                <div  class="id">
                <h1 class="id">Bienvenido {{name}}</h1>
                </div>
                
            </ul>

            </nav>

            </div>



         </div>
        </header>
        <main>


            
        </main>

     
    

        

</body>
</html>