<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+25&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>PRINCIPAÑ</title>
</head>
<style>

* {
  font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Otras reglas CSS aquí... */



body{
        background-color: rgb(144,201,167, 0.5);


}
header{
    width: 100%;
    background-color: white;



}
nav{
    max-width: 100%;
    margin: auto;
    background-color: #666567;
    font-size: 30px;
    margin-top: 0px;
              border: solid 6px black;
              


}
.menu-horizontal {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    /*justify-content: space-around;*/ /* Elimina esta línea */
    flex-direction: column; /* Agrega esta línea */
}
.menu-horizontal >li > a{

    display: block;
    padding: 30px 15px;
    color: black;
    text-decoration: none;


}
.menu-horizontal >li:hover{


    background-color: #d9d9d9;
}
.menu-vertical{
    text-transform: uppercase;
    position: absolute;
    display: none;
    list-style: none;
    width: 300px;
    background-color: rgb(0,0,0, 0.9) ;


}
.menu-horizontal li:hover .menu-vertical{
    display: block;

}
.menu-vertical li:hover{

    background-color: rgb(144,201,167, 0.5);

}




nav{
    max-width: 100%;
    margin: auto;
    background-color: #666567;
    font-size: 30px;
    margin-top: 0px;
              border: solid 6px black;
              


}
.menu-horizontal {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    /*justify-content: space-around;*/ /* Elimina esta línea */
    flex-direction: column; /* Agrega esta línea */
}
.menu-horizontal >li > a{

    display: block;
    padding: 30px 15px;
    color: white;
    text-decoration: none;


}
.menu-horizontal >li:hover{


    background-color: #d9d9d9;
}
.menu-vertical{
    text-transform: uppercase;
    position: absolute;
    display: none;
    list-style: none;
    width: 300px;
    background-color: rgb(0,0,0, 0.9) ;


}
.menu-horizontal li:hover .menu-vertical{
    display: block;

}
.menu-vertical li:hover{

    background-color: rgb(144,201,167, 0.5);

}
.menu-vertical li a{
    text-decoration: none;
    display: block;
    color: white;
  padding: 30px;


}

@media only screen and (max-width: 600px) {
  /* Estilos para pantallas más pequeñas, como teléfonos móviles */
  body {
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }
  .menu-horizontal {
    font-size: 20px; /* Tamaño de fuente más pequeño para el menú horizontal */
  }
}
img {
  max-width: 100%;
  height: auto;
}
  
    
     
        .bad{
            font-size: 20px;
            position: relative;
            color:rgb(113, 112, 111);
            right: -20px;
            top: 6px;
        }
        .ok{
            font-size: 20px;
            position: relative;
            top: 30px;
        }
        #sele{
            font-size: 30px;


        }
        h1{
            font-size: 50px;

        }
        /* Estilos para el label */
        label {
            font-weight: bold; /* Texto en negrita */
            margin-bottom: 50px; /* Espacio inferior */
            color: #333; /* Color del texto */
        }
        .fond{
          width: 100%;
    
      
        }


#logo{
    position: relative;
    left: 90px;

    width: 400px;

}
#vigilado {
    float: right; /* Alinea la imagen a la izquierda dentro del header */
    width: 300px;
}
p{
    
    padding: 30px 15px;
    color: black;
    text-decoration: none;


}



#map {
    position: absolute;
    top: 0;
    left: 200px; /* Ancho de la barra de navegación */
    width: calc(100% - 200px); /* Ancho del mapa */
    height: 100%;
    z-index: 1;
}



@media only screen and (max-width: 600px) {
  /* Estilos para pantallas más pequeñas, como teléfonos móviles */
  body {
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }
  .menu-horizontal {
    font-size: 20px; /* Tamaño de fuente más pequeño para el menú horizontal */
  }
}
img {
  max-width: 100%;
  height: auto;
}
  
    
     
        .bad{
            font-size: 20px;
            position: relative;
            color:rgb(113, 112, 111);
            right: -20px;
            top: 6px;
        }
        .ok{
            font-size: 20px;
            position: relative;
            top: 30px;
        }
        #sele{
            font-size: 30px;


        }
        h1{
            font-size: 50px;

        }
        /* Estilos para el label */
        label {
            font-weight: bold; /* Texto en negrita */
            margin-bottom: 50px; /* Espacio inferior */
            color: #333; /* Color del texto */
        }
        .fond{
          width: 100%;
    
      
        }


#logo{
    position: relative;
    left: 90px;

    width: 400px;

}
#vigilado {
    float: right; /* Alinea la imagen a la izquierda dentro del header */
    width: 300px;
}
p{
    
    padding: 30px 15px;
    color: white;
    text-decoration: none;


}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000; /* Asegura que esté por debajo de la barra de navegación */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* Ancho de la barra de navegación */
    height: 100%;
    background-color: rgb(102, 101, 103,0.9);
    font-size: 20px;
    border: solid 6px black;
    z-index: 1500; /* Asegura que esté por encima del encabezado */
    color: black !important; /* Cambia el color del texto a negro y da prioridad */
}



#map {
    position: absolute;
    top: 0;
    left: 200px; /* Ancho de la barra de navegación */
    width: calc(100% - 200px); /* Ancho del mapa */
    height: 100%;
    z-index: 1;
}

.menu-horizontal li {
    position: relative;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
    position: absolute;
    top: 0; /* Alinea el menú vertical con la parte superior del elemento activador */

    left: 100%; /* Coloca el menú vertical a la derecha del elemento activador */
}




#calll {
height: 70px;
align-items: center;
left: 12%;
    position: relative;
 }



.call {
    
    position: relative;
    display: inline-block; /* Asegura que el elemento tenga un tamaño */
}

.call:hover::after {
    content: "Callcenter"; /* El texto que deseas mostrar */
    position: absolute;
    top: 50%; /* Alinea el texto verticalmente */
    left: 50%; /* Alinea el texto horizontalmente */
    transform: translate(-50%, -50%); /* Centra el texto */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

#eje{

width: 70px;
align-items: center;

    position: relative;
left: 12%;



}

.ejee{

   position: relative;
    display: inline-block; /* Asegura que el elemento tenga un tamaño */

}
.ejee:hover::after {
    content: "EJECUTIVO"; /* El texto que deseas mostrar */
    position: absolute;
    top: 50%; /* Alinea el texto verticalmente */
    left: 50%; /* Alinea el texto horizontalmente */
    transform: translate(-50%, -50%); /* Centra el texto */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}
#tec{

width: 70px;
align-items: center;

    position: relative;
left: 12%;


}
.tecc{

   position: relative;
    display: inline-block; /* Asegura que el elemento tenga un tamaño */

}
.tecc:hover::after {
    content: "SOPORTE"; /* El texto que deseas mostrar */
    position: absolute;
    top: 50%; /* Alinea el texto verticalmente */
    left: 50%; /* Alinea el texto horizontalmente */
    transform: translate(-50%, -50%); /* Centra el texto */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

.opeee{

   position: relative;
    display: inline-block; /* Asegura que el elemento tenga un tamaño */

}
.opeee:hover::after {
    content: "OPERACIONES"; /* El texto que deseas mostrar */
    position: absolute;
    top: 50%; /* Alinea el texto verticalmente */
    left: 50%; /* Alinea el texto horizontalmente */
    transform: translate(-50%, -50%); /* Centra el texto */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}
#ope{
width: 70px;
align-items: center;

    position: relative;
left: 12%;




}

.geree{

   position: relative;
    display: inline-block; /* Asegura que el elemento tenga un tamaño */

}
.geree:hover::after {
    content: "GERENCIA"; /* El texto que deseas mostrar */
    position: absolute;
    top: 50%; /* Alinea el texto verticalmente */
    left: 50%; /* Alinea el texto horizontalmente */
    transform: translate(-50%, -50%); /* Centra el texto */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

.contro{

   position: relative;
    display: inline-block; /* Asegura que el elemento tenga un tamaño */

}
.contro:hover::after {
    content: "CONTROL OPERATIVO"; /* El texto que deseas mostrar */
    position: absolute;
    top: 50%; /* Alinea el texto verticalmente */
    left: 50%; /* Alinea el texto horizontalmente */
    transform: translate(-50%, -50%); /* Centra el texto */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}
</style>

<body>
       <header>
         <img id="membrete"   src="/imagenes/menbrete.png"/>
        <img  id="logo"      src="/imagenes/logo vianco.png"/>
        <img  id="vigilado"  src="/imagenes/vigilado.png"/>

        <hr>
        
       

    </header>
    <br>
    <br><br>
    
    <nav>
    <label class="logo" for=""></label>

      <ul class="menu-horizontal">

                        {{#if isControl}}
          <li class="contro">
    <p class="active">
        <img id="calll" src="/imagenes/sistema-de-monitoreo.png" alt="">
    </p>
                            <ul class="menu-vertical" >
                                                                <li><a href="/buscar_por_fecha">RECEPCIONES</a></li>

                               <li><a href=" /ver_novedades_C">NOVEDADES</a></li>
                                <li><a href="https://docs.google.com/spreadsheets/d/1pTFbY3-Qp76hAiNQ7JLC84uYwuu-np7MdGupLfvni4s/edit?usp=sharing" target="_blank" >PROGRAMACION VEHICULOS</a></li>

                                 <li><a href=" /ver_novedades">NOVEDADES PENDIENTES</a></li>

                            </ul>
                        </li>
                        {{/if}}
                        
                        {{#if isControl}}
                        
                        <li><p class="active"> COTIZACIONES</p>  
                            <ul class="menu-vertical" >
                               <li><a href="/formulario_cotizaciones">REALIZAR COTIZACION</a></li>
                                 <li><a href="/cotizaciones_pendientes">CONTIZACIONES PENDIENTES</a></li>


                            </ul>
                        </li>
                        {{/if}}


              {{#if isControl}}
<li class="call">
    <p class="active">
        <img id="calll" src="/imagenes/call.png" alt="">
    </p>
    <ul class="menu-vertical">
        <li><a href="/inicio">INICIAR TURNO</a></li>
        <li><a href="/novedades">NOVEDADES</a></li>
    </ul>
</li>


                        {{/if}}





                        {{#if isOperative}}
                        <li class="opeee">
                 <p class="menu-horizontal">
                            <img id="ope" src="/imagenes/acuerdo-de-contribuyente.png" alt="">
                            </p> 
                            <ul class="menu-vertical" >
                                <li><a href="/clientess">CLIENTES</a></li>
                                <li><a href="">FUEC</a></li>
                            </ul>
                        </li>
                        {{/if}}





                        {{#if isOperative}}
                        <li class="opeee">
                 <p class="menu-horizontal">
                            <img id="ope" src="/imagenes/consultante.png" alt="">
                            </p> 
                            <ul class="menu-vertical" >
                                <li><a href="/consulta-vehiculos">Vehículo</a></li>
                                <li><a href="/consulta-conductores">Conductores</a></li>
                                <li><a href="/consulta-contabilidad">administracion</a></li>
                            </ul>
                        </li>
                        {{/if}}

                        {{#if isAdmin}}
                      <li class="geree">
    <p class="active">
        <img id="calll" src="/imagenes/mujer-de-negocios.png" alt="">
    </p>
                            <ul class="menu-vertical">
                            <li><a href="/admin/roles">Ajustes de PERMISOS</a></li>

                            </ul>
                        </li>
                        {{/if}}
{{#if isExecutive}}
<li class="ejee">
    <p class="menu-horizontal">
        <img id="eje" src="/imagenes/perfil.png" alt="">
    </p>
    <ul class="menu-vertical">
        <li><a href="/programacion-vehiculos">Programación Vehículos</a></li>
        <li><a href="/formulario_cotizaciones">COTIZACIONES</a></li>
        <li><a href="/formulario">RECEPCIONES AEROPUERTO</a></li>
        <li><a href="/seleccionar_hotel">TARIFAS HOTELES</a></li>
    </ul>
</li>
{{/if}}
<li class="tecc">
<p class="active">
        <img id="tec" src="/imagenes/apoyo-tecnico.png" alt="">
    </p>
                            <ul class="menu-vertical">
                                <li><a href="#">Citas</a></li>
                                <li><a href="#">Ayuda</a></li>
                            </ul>
                        </li>
                      
                      <li><a href="/logout" id="selected">CERRAR SESION</a></li>  

  </ul>
</nav>
<div id="map"></div>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script>
    var map = L.map('map').setView([0, 0], 13);

    // Define el icono personalizado para el marcador de otros usuarios (antena)
    var antennaIcon = L.icon({
        iconUrl: '/imagenes/marcador-de-posicion.png',
        iconSize: [32, 32], // Tamaño del icono
        iconAnchor: [16, 32], // Punto de anclaje del icono
        popupAnchor: [0, -32] // Punto de anclaje del popup
    });

    // Objeto para mantener las últimas ubicaciones conocidas de los usuarios
    var lastKnownLocations = {};

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);




var empresaIcon = L.icon({
    iconUrl: '/imagenes/oficina.png', // Ruta a tu icono personalizado
    iconSize: [55, 55], // Tamaño del icono
    iconAnchor: [16, 32], // Punto de anclaje del icono
    popupAnchor: [0, -32] // Punto de anclaje del popup
});







var ubicacionEmpresa = { nombre: "VIANCO", latitud: 4.680963, longitud: -74.047428 };
L.marker([ubicacionEmpresa.latitud, ubicacionEmpresa.longitud], {icon: empresaIcon}).addTo(map)
    .bindPopup(ubicacionEmpresa.nombre).openPopup();











    // Conectar al servidor Socket.IO
    var socket = io();
    var hotelIcon = L.icon({
    iconUrl: '/imagenes/ubicacion.png', // Ruta a tu imagen personalizada
    iconSize: [55, 55], // Tamaño del icono
    iconAnchor: [16, 32], // Punto de anclaje del icono
    popupAnchor: [0, -32] // Punto de anclaje del popup
});

// Agregar marcadores de hoteles al mapa
var hoteles = [
    { nombre: "NH HACIENDA", latitud: 4.6919549, longitud: -74.0344995},
    { nombre: "NH TELEPORT", latitud: 4.6917653, longitud: -74.0381019},
    { nombre: "NH WTC", latitud: 4.6805553, longitud: -74.040445},
    { nombre: "HOTEL ESTELAR CALLE 100", latitud: 4.6847219, longitud: -74.0496408},
    { nombre: "NH URBAN 93", latitud: 4.6800893, longitud: -74.0562079 },
    { nombre: "NH pavillon", latitud: 4.6772523, longitud: -74.0494349 },
    { nombre: "HOTEL ESTELAR PARQUE 93", latitud: 4.674325, longitud: -74.0528475 },
    { nombre: "NH ANDINO", latitud: 4.6687927, longitud: -74.0549873 },
    { nombre: "AVANI ZONA T", latitud:4.6665003, longitud:-74.0571342 },
    { nombre: "CLUB EL NOGAL", latitud: 4.6601913, longitud: -74.0556019},
    { nombre: "HILTON 72", latitud:4.6557042, longitud: -74.0581079 },
    { nombre: "URBAN 26", latitud: 4.6309813, longitud: -74.086538},
    { nombre: "HILTON CORFERIAS", latitud: 4.6287861, longitud: -74.0954723},
    { nombre: "GRAND HYATT", latitud:4.6440714, longitud: -74.10482}
    // Agrega más hoteles según sea necesario
];
// Agregar marcadores de hoteles al mapa
hoteles.forEach(function(hotel) {
    var marker = L.marker([hotel.latitud, hotel.longitud], {icon: hotelIcon}).addTo(map)
        .bindPopup(hotel.nombre);

    // Mostrar popup al pasar el mouse sobre el marcador
    marker.on('mouseover', function (e) {
        this.openPopup();
    });
    
    // Cerrar popup al retirar el mouse del marcador
    marker.on('mouseout', function (e) {
        this.closePopup();
    });
});


    function onLocationFound(e) {
        var radius = e.accuracy / 2;

        // Verificar la precisión antes de mostrar la ubicación
        if (e.accuracy > 100) { // Por ejemplo, solo aceptar si la precisión es mayor que 100 metros
            alert('La precisión del GPS es baja. La ubicación puede no ser exacta.');
            return;
        }

        L.marker(e.latlng).addTo(map)
            .bindPopup('Estás dentro de ' + radius + ' metros de este punto').openPopup();

        L.circle(e.latlng, radius).addTo(map);

        // Enviar la ubicación al servidor con la hora actual y el nombre de usuario
        var currentTime = new Date().toLocaleTimeString();
        var username = "{{name}}"; // Obtener el nombre de usuario del servidor
        socket.emit('location', { lat: e.latlng.lat, lng: e.latlng.lng, time: currentTime, username: username });
    }

    function onLocationError(e) {
        alert('Error de geolocalización: ' + e.message + '. Asegúrate de tener activado el GPS y de estar en un lugar con buena señal.');
    }

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

    map.locate({ setView: true, maxZoom: 16 });

// Cuando el cliente se conecta o recarga la página, solicitar las últimas ubicaciones conocidas
socket.on('connect', () => {
    socket.emit('loadUserLocations');
});

// Recibir las últimas ubicaciones conocidas del servidor
socket.on('userLocations', function (locations) {
    for (const username in locations) {
        const location = locations[username];
        // Mostrar el marcador en el mapa para cada ubicación
        L.marker([location.lat, location.lng]).addTo(map)
            .bindPopup(username + '<br>' + 'Última ubicación conocida').openPopup();
    }
});

</script>


</body>
</html>