<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+25&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>PRINCIPAÑ</title>
    
</head>
<style>

* {
  font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-horizontal {

    text-transform: uppercase;
    list-style: none;
    display: flex;
    flex-direction: column; /* Agrega esta línea */
}


.menu-horizontal >li:hover{
    background-color: #d9d9d9;
}
.menu-vertical{

    text-transform: uppercase;
    position: absolute;
    display: none;
    list-style: none;
    width: 300px;
    background-color: rgb(0,0,0, 0.9) ;

}
.menu-horizontal li:hover .menu-vertical{
    display: block;

}
.menu-vertical li:hover{
    background-color: rgb(144,201,167, 0.5);
}

.menu-horizontal {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    /*justify-content: space-around;*/ /* Elimina esta línea */
    flex-direction: column; /* Agrega esta línea */
}
.menu-horizontal >li > a{

    display: block;
    padding: 30px 15px;
    color: white;
    text-decoration: none;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;

}
.menu-vertical li:hover{

    background-color: rgb(144,201,167, 0.5);

}
.menu-vertical li a{
    text-decoration: none;
    display: block;
    color: white;
  padding: 30px;


}

img {
  max-width: 100%;
  height: auto;
}
  
p{
    padding:20%;

}

#map {
    position: absolute;
    top: 8%;
    width: calc(100% ); /* Ancho del mapa */
    height: 100%;
    z-index: 1;
}


nav {
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

    position: fixed;
    top: 0;
    left: 0;
    width: 5%; /* Ancho de la barra de navegación */
    height: 100%;
    background-color: rgb(102, 101, 103);
    font-size: 20px;
    border: solid 6px black;

    z-index: 1500; /* Asegura que esté por encima del encabezado */
    color: black !important; /* Cambia el color del texto a negro y da prioridad */
}
/* Agrega un estilo específico para dispositivos pequeños */


#map {
 
    position: absolute;
 
    height: 100%;
}



.menu-horizontal li:hover .menu-vertical {
    display: block;
    position: absolute;
    top: 0; /* Alinea el menú vertical con la parte superior del elemento activador */

    left: 100%; /* Coloca el menú vertical a la derecha del elemento activador */
}
.menu-vertical {
        overflow-y: auto; /* Agrega un desplazamiento vertical si el contenido es más largo que la altura */


}

#calll ,#eje,#tec,#ope {

align-items: center;
left: 5%;
    position: relative;
 }
.call ,.ejee,.tecc,.opeee,.geree,.contro,.CI{
    
    position: relative;
    display: inline-block; /* Asegura que el elemento tenga un tamaño */
}

#vi{
  width: 100%;
}

    #car{
 
      position: relative;
            top: 20px;
            left: 75%;
            width: 40px;
            height: 40px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
          float: inline-start;
            cursor: pointer;
    }
     #campana {
            position: relative;
            top: 20px;
            left: 80%;
            width: 40px;
            height: 40px;
            background-image: url('/imagenes/campana.png');
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
          float: inline-start;
            cursor: pointer;
        }

      #numNotificacionesSinLeer {
            position: absolute;
            top: 5px;
            right: -7px;
            background-color: #d9d9d9;
            color: black;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            font-weight: bold;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        /* Estilos de la ventana emergente */
        #ventanaEmergente {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 1px solid black;
            border-radius: 10px;
            z-index: 9999;
        }

        #ventanaEmergente h2 {
            margin-top: 0;
        }

        #btnCerrar {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
        }
    header{
   left: 4%;
padding: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    z-index: 1500; /* Asegura que esté por encima del encabezado */


    }
   #ingreso{
    padding: 4px;
   border-radius: 3px;
    text-align: center;
    font-size: 30px;
    position: relative;
    width: 10%;
   color: #90c9a7;
   left: 90%;
    top: -20%;
float: none;

   }
#toggleNavButton{
    border: 0px;
    padding: 0;
    margin: 0;
    background-color: white;
    bottom:40px;
    left: 3%;
position: relative;
float: left;
cursor: pointer;
width: 10%;
   z-index: 1500; /* Asegura que esté por encima del encabezado */
}
@media only screen and (max-width: 768px) {
    nav {
        width: 20%; /* Hacer que la barra de navegación ocupe todo el ancho en dispositivos pequeños */
        font-size: 14px; /* Reducir aún más el tamaño de la fuente para dispositivos pequeños si es necesario */
    }

  .flecha{
            left: 50%;
        width: 20%; /* Hacer que la barra de navegación ocupe todo el ancho en dispositivos pequeños */
        font-size: 14px; /* Reducir aún más el tamaño de la fuente para dispositivos pequeños si es necesario */
    }


#toggleNavButton{


    border: 0px;
    padding: 0;
    margin: 0;
    background-color: white;
    bottom:40px;
    left: 20%;
position: relative;
float: left;
cursor: pointer;
width: 10%;
   z-index: 1500; /* Asegura que esté por encima del encabezado */



}

  #car{
 
      position: relative;
            top: 20px;
            left: 45%;
            width: 40px;
            height: 40px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
          float: inline-start;
            cursor: pointer;
    }




     #campana {
            position: relative;
            top: 20px;
            left: 50%;
            width: 40px;
            height: 40px;
            background-image: url('/imagenes/campana.png');
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
          float: inline-start;
            cursor: pointer;
        }


   #ingreso{
    align-items: center;
  
   border-radius: 3px;
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 0%;
   color: #90c9a7;
   left: 60%;
    top: -20%;
float: none;

   }





}


/* Agrega un estilo específico para dispositivos grandes */
@media only screen and (min-width: 1200px) {
   .flecha img{
        width: 20%; /* Ajusta el ancho de la barra de navegación para dispositivos más grandes si es necesario */
    }
}

</style>



     <div id="map"></div>
 <!-- Agrega esta sección dentro del <header> o en cualquier lugar adecuado -->
<div id="button-container">
        <a id="rastreo" href="/ver_ubicaiones">
            <img id="car"  src="imagenes/rastreo-de-orden.png" alt="">
        </a>
    </div>

<div id="campana" onclick="mostrarVentanaEmergente()">
    <div id="numNotificacionesSinLeer"></div>
</div>

<header>
            <h1 id="ingreso" >{{name}}</h1>

 <button id="toggleNavButton" class="flecha">
        <img src="/imagenes/flecha.png" alt="">
    </button>
 
</header>

<hr>
<div id="ventanaEmergente" style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; padding: 20px;">
    <span id="btnCerrar" onclick="cerrarVentanaEmergente()" style="position: absolute; top: 10px; right: 10px; cursor: pointer; color: #666;">Cerrar</span>
    <div class="VENTANA" style="text-align: center;">
        <h2 style="color: #333;">NUEVA COTIZACIÓN</h2>
        <br>
        <h2 style="color: #333;">Se agregó una nueva cotización. Por favor, ingresa a:</h2>
        <a href="/cotizaciones_pendientes" style="color: #007bff; text-decoration: none;">Ingresa aquí</a>
    </div>
    <br>
    
    <!-- Botón para marcar como leídas las notificaciones -->
    <button onclick="marcarComoLeidas()" style="background-color: #007bff; color: #fff; border: none; border-radius: 3px; padding: 10px 20px; cursor: pointer; margin-top: 10px;">Marcar como leídas</button>
</div>

<audio id="notificacionSound">
    <source src="/sonidos/level-up-2-199574.mp3" type="audio/mpeg">
    Tu navegador no soporta el elemento de audio.
</audio>



    <br>
    <br><br>
    
  <nav class="navbar">
    <label class="logo" for=""></label>
        <img  id="logo"      src=""/>
 <ul class="menu-horizontal">




    <p class="active">
       <a href="/novedades_viancoo"> <img id="vi" src="/imagenes/logo pestaña.PNG" alt=""></a>
    </p>
                            <ul class="menu-vertical" >
                            
                            </ul>
                        </li>
                       
      <ul class="menu-horizontal">

                        {{#if isControl}}
          <li class="contro">
    <p class="active">
        <img id="calll" src="/imagenes/sistema-de-monitoreo.png" alt="">
    </p>
                            <ul class="menu-vertical" >
                                                                <li><a href="/buscar_por_fecha">RECEPCIONES</a></li>
                               <li><a href="/ver_vianco">SERVICIOS NO CONFORMES</a></li>

                               <li><a href=" /ver_novedades_C">CONTROL NOVEDADES</a></li>
                                                           <li><a href="/ver_novedades_vianco">SERVICIOS NO CONFORME PENDIENTES </a></li>

                                <li><a href="https://docs.google.com/spreadsheets/d/1pTFbY3-Qp76hAiNQ7JLC84uYwuu-np7MdGupLfvni4s/edit?usp=sharing" target="_blank" >PROGRAMACION VEHICULOS</a></li>

                                 <li><a href=" /ver_novedades">NOVEDADES CALLCENTER PENDIENTES</a></li>

                            </ul>
                        </li>
                        {{/if}}
                        
                        {{#if isControl}}
                                  <li class="contro">

                        <p class="active">
                    <img id="calll" src="/imagenes/inversion.png" alt="">
                </p> 
                            <ul class="menu-vertical" >
                               <li><a href="/formulario_cotizaciones">REALIZAR COTIZACION</a></li>
                               
                                 <li><a href="/cotizaciones_pendientes">CONTIZACIONES PENDIENTES</a></li>
                                 <li><a href="/VE">CONTIZACIONES REALIZADAS</a></li>


                            </ul>
                        </li>
                        {{/if}}


              {{#if isControl}}
<li class="call">
    <p class="active">
        <img id="calll" src="/imagenes/call.png" alt="">
    </p>
    <ul class="menu-vertical">
        <li><a href="/inicio">INICIAR TURNO</a></li>
        <li><a href="/novedades">REALIZAR NOVEDAD</a></li>
    </ul>
</li>


                        {{/if}}





                        {{#if isOperative}}
                        <li class="CI">
                 <p class="menu-horizontal">
                            <img id="ope" src="/imagenes/acuerdo-de-contribuyente.png" alt="">
                            </p> 
                            <ul class="menu-vertical" >
                                <li><a href="/clientess">CLIENTES</a></li>
                                <li><a href="/seleccionar">GENERAR FUEC</a></li>
                                 <li><a href="/dat">RESULTADOS FUEC</a></li>

                                
                            </ul>
                        </li>
                        {{/if}}





                        {{#if isOperative}}
                        <li class="opeee">
                 <p class="menu-horizontal">
                            <img id="ope" src="/imagenes/consultante.png" alt="">
                            </p> 
                            <ul class="menu-vertical" >
                                <li><a href="/consulta-vehiculos">Vehículo</a></li>
                                <li><a href="/consulta-conductores">Conductores</a></li>
                                <li><a href="/consulta-contabilidad">administracion</a></li>
                            </ul>
                        </li>
                        {{/if}}

                        {{#if isAdmin}}
                      <li class="geree">
    <p class="active">
        <img id="calll" src="/imagenes/mujer-de-negocios.png" alt="">
    </p>
                            <ul class="menu-vertical">
                            <li><a href="/admin/roles">Ajustes de PERMISOS</a></li>
       



                            </ul>
                        </li>
                        {{/if}}
{{#if isExecutive}}
<li class="ejee">
    <p class="menu-horizontal">
        <img id="eje" src="/imagenes/perfil.png" alt="">
    </p>
    <ul class="menu-vertical">
        <li><a href="/programacion-vehiculos">Programación Vehículos</a></li>
        <li><a href="/formulario_cotizaciones">COTIZACIONES</a></li>
        <li><a href="/formulario">RECEPCIONES AEROPUERTO</a></li>
        <li><a href="/seleccionar_hotel">TARIFAS HOTELES</a></li>
    </ul>
</li>
{{/if}}

<li class="tecc">
<p class="active">
        <img id="tec" src="/imagenes/apoyo-tecnico.png" alt="">
    </p>
                            <ul class="menu-vertical">
                                <li><a href="#">Citas</a></li>
                                <li><a href="#">Ayuda</a></li>
                            </ul>
                        </li>
                      
                      <li><a href="/logout" id="selected"><img src="/imagenes/apagar.png" alt=""></a></li>  

  </ul>
</nav>
 {{#if isControl}}
                        {{#if isAdmin}}
  
{{/if}}
{{/if}}


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script>
    var map = L.map('map').setView([0, 0], 13);

    // Define el icono personalizado para el marcador de otros usuarios (antena)
    var antennaIcon = L.icon({
        iconUrl: '/imagenes/marcador-de-posicion.png',
        iconSize: [32, 32], // Tamaño del icono
        iconAnchor: [16, 32], // Punto de anclaje del icono
        popupAnchor: [0, -32] // Punto de anclaje del popup
    });




    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attribution">CARTO</a>'
}).addTo(map);




var empresaIcon = L.icon({
    iconUrl: '/imagenes/oficina.png', // Ruta a tu icono personalizado
    iconSize: [55, 55], // Tamaño del icono
    iconAnchor: [16, 32], // Punto de anclaje del icono
    popupAnchor: [0, -32] // Punto de anclaje del popup
});







var ubicacionEmpresa = { nombre: "VIANCO", latitud: 4.680963, longitud: -74.047428 };
L.marker([ubicacionEmpresa.latitud, ubicacionEmpresa.longitud], {icon: empresaIcon}).addTo(map)
    .bindPopup(ubicacionEmpresa.nombre).openPopup();











    // Conectar al servidor Socket.IO
    var socket = io();
    var hotelIcon = L.icon({
    iconUrl: '/imagenes/ubicacion.png', // Ruta a tu imagen personalizada
    iconSize: [55, 55], // Tamaño del icono
    iconAnchor: [16, 32], // Punto de anclaje del icono
    popupAnchor: [0, -32] // Punto de anclaje del popup
});

// Agregar marcadores de hoteles al mapa
var hoteles = [
    { nombre: "NH HACIENDA", latitud: 4.6917879, longitud: -74.0319878},
    { nombre: "NH TELEPORT", latitud: 4.691848, longitud: -74.035344},
    { nombre: "NH WTC", latitud: 4.6805553, longitud: -74.040445},
    { nombre: "HOTEL ESTELAR CALLE 100", latitud: 4.6847219, longitud: -74.0496408},
    { nombre: "NH URBAN 93", latitud: 4.6800893, longitud: -74.0562079 },
    { nombre: "NH pavillon", latitud: 4.6772523, longitud: -74.0494349 },
    { nombre: "HOTEL ESTELAR PARQUE 93", latitud: 4.674325, longitud: -74.0528475 },
    { nombre: "NH ANDINO", latitud: 4.668843, longitud: -74.052698 },
    { nombre: "AVANI ZONA T", latitud:4.6665003, longitud:-74.0571342 },
    { nombre: "CLUB EL NOGAL", latitud: 4.6600933, longitud: -74.0510783},
    { nombre: "HILTON 72", latitud:4.655751, longitud: -74.055407 },
    { nombre: "URBAN 26", latitud: 4.6309813, longitud: -74.086538},
    { nombre: "HILTON CORFERIAS", latitud: 4.6287861, longitud: -74.0954723},
    { nombre: "GRAND HYATT", latitud:4.644140, longitud: -74.099788}
    // Agrega más hoteles según sea necesario
];
// Agregar marcadores de hoteles al mapa
hoteles.forEach(function(hotel) {
    var marker = L.marker([hotel.latitud, hotel.longitud], {icon: hotelIcon}).addTo(map)
        .bindPopup(hotel.nombre);

    // Mostrar popup al pasar el mouse sobre el marcador
    marker.on('mouseover', function (e) {
        this.openPopup();
    });
    
    // Cerrar popup al retirar el mouse del marcador
    marker.on('mouseout', function (e) {
        this.closePopup();
    });
});


    function onLocationFound(e) {
        var radius = e.accuracy / 2;

        // Verificar la precisión antes de mostrar la ubicación
        if (e.accuracy > 100) { // Por ejemplo, solo aceptar si la precisión es mayor que 100 metros
           
            return;
        }

        L.marker(e.latlng).addTo(map)
            .bindPopup('Estás dentro de ' + radius + ' metros de este punto').openPopup();

        L.circle(e.latlng, radius).addTo(map);

        // Enviar la ubicación al servidor con la hora actual y el nombre de usuario
        var currentTime = new Date().toLocaleTimeString();
        var username = "{{name}}"; // Obtener el nombre de usuario del servidor
        socket.emit('location', { lat: e.latlng.lat, lng: e.latlng.lng, time: currentTime, username: username });
    }

    function onLocationError(e) {
        alert('Error de geolocalización: ' + e.message + '. Asegúrate de tener activado el GPS y de estar en un lugar con buena señal.');
    }

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

    map.locate({ setView: true, maxZoom: 16 });

/// Cuando se conecta el socket, solicitar las últimas ubicaciones conocidas
socket.on('connect', () => {
    socket.emit('requestUserLocations');
});



// Función para limpiar los marcadores existentes en el mapa
function clearMarkers() {
    markers.forEach(function(marker) {
        map.removeLayer(marker);
    });
    markers = []; // Vaciar el arreglo de marcadores
}

// Llamar a la función clearMarkers() antes de agregar nuevos marcadores
socket.on('userLocations', function(locations) {
    clearMarkers(); // Limpiar los marcadores existentes
    for (const username in locations) {
        const location = locations[username];
        // Agregar marcador para cada ubicación
        var marker = L.marker([location.lat, location.lng]).addTo(map)
            .bindPopup(username + '<br>' + 'HORA:'  +  location.time).openPopup();
        markers.push(marker); // Agregar el marcador al arreglo
    }
});





// Agregar marcadores al mapa
var markers = []; // Almacena los marcadores para poder limpiarlos después

// Dentro del bucle que agrega marcadores de hoteles al mapa
markers.forEach(function(hotel) {
    var marker = L.marker([hotel.latitud, hotel.longitud], {icon: hotelIcon}).addTo(map)
        .bindPopup(hotel.nombre);

    markers.push(marker); // Agregar el marcador al arreglo de marcadores
});


// Función para obtener la ubicación del usuario y enviarla al servidor
function getLocationAndSend() {
    map.locate({ setView: false, maxZoom: 16 }); // No establecer vista y definir el zoom máximo
}

// Llamar a la función cada 10 segundos (10000 milisegundos)
setInterval(getLocationAndSend, 60000);
// Agregar evento de clic a los marcadores de usuario


// Escuchar los movimientos del usuario seleccionado desde el servidor
socket.on('userMovements', function (movements) {
    // Crear un arreglo de coordenadas para la línea
    var polylineCoords = [];
    // Recorrer todos los movimientos y agregar las coordenadas a la línea
    movements.forEach(function (movement) {
        polylineCoords.push([movement.lat, movement.lng]);
    });
    // Dibujar la línea en el mapa
    L.polyline(polylineCoords, { color: 'red' }).addTo(map);
});

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>



    // Función para cargar y mostrar las notificaciones
    function cargarNotificaciones() {
        $.get('/notificaciones', function(notificaciones) {
            // Limpiar el área de notificaciones
            $('#notificaciones').empty();

            // Agregar cada notificación al área
            notificaciones.forEach(function(notificacion) {
                $('#notificaciones').append(`<p>${notificacion.texto}</p>`);
            });
        });
    }

    // Llama a la función cargarNotificaciones cuando la página se carga
    $(document).ready(function() {
        cargarNotificaciones();
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>

     var reproduccionAutomaticaHabilitada = false;
    var notificacionesSinLeer = 0;

    // Función para reproducir el sonido de notificación
    function reproducirSonidoNotificacion() {
        var audio = document.getElementById('notificacionSound');
        if (reproduccionAutomaticaHabilitada && notificacionesSinLeer > 0) {
            audio.play();
        }
    }
     function marcarComoLeidas() {
    // Realiza una solicitud POST para marcar las notificaciones como leídas en el servidor
    $.post('/marcarNotificacionesLeidas', function(data) {
        // Después de que se hayan marcado como leídas, actualiza el contador de notificaciones sin leer
        notificacionesSinLeer = 0;
        cargarNumNotificacionesSinLeer();
        // Cierra la ventana emergente después de marcar las notificaciones como leídas
        cerrarVentanaEmergente();
    });
}


// Función para cargar y mostrar el número de notificaciones sin leer
function cargarNumNotificacionesSinLeer() {
    $.get('/notificacionesSinLeer', function(data) {
        if (data.count > notificacionesSinLeer) {
            notificacionesSinLeer = data.count;
            $('#numNotificacionesSinLeer').text(notificacionesSinLeer);
            reproducirSonidoNotificacion(); // Reproduce el sonido de notificación
        }
    });
}
    // Función para mostrar la ventana emergente
    function mostrarVentanaEmergente() {
        $('#ventanaEmergente').show();
    }

    // Función para cerrar la ventana emergente
    function cerrarVentanaEmergente() {
        $('#ventanaEmergente').hide();
    }

 
    // Habilitar la reproducción automática cuando el usuario interactúa con la página
    $(document).ready(function() {
        $(document).on('click', function() {
            reproduccionAutomaticaHabilitada = true;
        });

        // Llamar a la función para cargar notificaciones sin leer cada 5 segundos
        setInterval(cargarNumNotificacionesSinLeer, 5000);
    });

    // Cargar el número de notificaciones sin leer al cargar la página
    $(document).ready(function() {
        cargarNumNotificacionesSinLeer();
    });
  
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Obtener referencia al botón y al elemento nav
        var toggleNavButton = document.getElementById("toggleNavButton");
        var nav = document.querySelector("nav");

        // Agregar un evento de clic al botón
        toggleNavButton.addEventListener("click", function() {
            // Cambiar la visibilidad del elemento nav
            if (nav.style.display === "none") {
                nav.style.display = "block";
            } else {
                nav.style.display = "none";
            }
        });
    });
</script>
<script>
    // Función para cargar y mostrar el número de notificaciones sin leer
    function cargarNumNotificacionesSinLeer() {
        $.get('/notificacionesSinLeer', function(data) {
            $('#numNotificacionesSinLeer').text(data.count);
        });
    }

    // Llamar a la función para cargar el número de notificaciones sin leer cuando la página se carga
    $(document).ready(function() {
        cargarNumNotificacionesSinLeer();
    });
</script>

</body>
</html>