<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="menu.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            background-image: url('/imagenes/carro menu.png');
    background-size: 100% auto; /* Ajusta la anchura al 100% y la altura de forma automática */
    background-repeat: no-repeat;

           }


        
        .container_menu {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }
        header {
            padding: 2% 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.8);
        }
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }
        nav ul li {
            margin-right: 20px;
        }
        nav ul li:last-child {
            margin-right: 0; /* Remove margin from last li */
        }
        nav ul li a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
        }
        footer {
            background-color: rgba(34, 34, 34, 0.8);
            color: #fff;
            padding: 20px 5%;
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
        footer a {
            color: #fff;
            text-decoration: none;
        }
        footer p {
            margin: 2px 0;
        }
        @media screen and (max-width: 768px) {
            header {
                padding: 5% 10%;
                flex-direction: column;
                align-items: center;
            }
            nav ul {
                flex-direction: column;
                align-items: center;
            }
            nav ul li {
                margin: 10px 0;
            }
            footer {
                padding: 30px 10%;
            }
        }
    </style>
</head>
<body>
    <header>
        <div class="container_menu">
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#" id="selected">Home</a></li>  
                        {{#if isOperative}}
                        <li><a href="#">Operaciones</a> 
                            <ul>
                                <li><a href="#">Vehículo</a></li>
                                <li><a href="#">Conductores</a></li>
                                <li><a href="#">Documentación</a></li>
                                <li><a href="#">Contratos</a></li>
                            </ul>
                        </li>
                        {{/if}}

                        {{#if isAdmin}}
                        <li><a href="">Gerencia</a> 
                            <ul>
                                <li><a href="#">Reportes</a></li>
                                <li><a href="#">Estadísticas</a></li>
                                <li><a href="#">Configuración</a></li>
                                <li><a href="/admin/roles">Ajustes de PERMISOS</a></li>
                            </ul>
                        </li>
                        {{/if}}
                        {{#if isExecutive}}
                        <li><a href="">Ejecutivo</a>
                            <ul>
                                <li><a href="/programacion-vehiculos">Programación Vehículos</a></li>
                                <li><a href="#">COTIZACIONES</a></li>
                                <li><a href="#">RECEPCIONES AEROPUERTO</a></li>
                                <li><a href="#">TARIFAS HOTELES</a></li>
                                <li><a href="#">METAS</a></li>
                            </ul>
                        </li>
                        {{/if}}
                        <li><a href="#">Soporte IT</a> 
                            <ul>
                                <li><a href="#">Citas</a></li>
                                <li><a href="#">Ayuda</a></li>
                            </ul>
                        </li>
                      

                    </ul>
                    
                </nav>
            </div>
        </div>
    </header>
    <footer>
        <p>Bienvenido    {{name}}</p>
     <hr>
     <br>
     <br>

       
        <p>Copyrigt soporteVianco</p>
        <nav>
            <ul>
                {{#if name }}
                    <li id="cerrar" class="nav-item px-4">
                        <a href="/logout">Cerrar Sesión</a>
                    </li>
                {{else}}
                    <li><a href="/login/index">Iniciar Sesión</a></li>
                    <li><a href="/login/register">Registrarse</a></li>
                {{/if}}
            </ul>
        </nav>
    </footer>
</body>
</html>
