<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
*{
    
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
        background-color: rgb(144,201,167, 0.5);


}
header{
    width: 100%;
    background-color: white;



}
nav{
    max-width: 100%;
    margin: auto;
    background-color: #666567;
    font-size: 30px;
    margin-top: 0px;
              border: solid 6px black;
              


}
.menu-horizontal{
text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-around;


}
.menu-horizontal >li > a{

    display: block;
    padding: 30px 15px;
    color: white;
    text-decoration: none;


}
.menu-horizontal >li:hover{


    background-color: #d9d9d9;
}
.menu-vertical{
    text-transform: uppercase;
    position: absolute;
    display: none;
    list-style: none;
    width: 300px;
    background-color: rgb(0,0,0, .6) ;


}
.menu-horizontal li:hover .menu-vertical{
    display: block;

}
.menu-vertical li:hover{

    background-color: black;

}
.menu-vertical li a{
    text-decoration: none;
    display: block;
    color: white;
  padding: 30px;


}

@media only screen and (max-width: 600px) {
  /* Estilos para pantallas más pequeñas, como teléfonos móviles */
  body {
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }
  .menu-horizontal {
    font-size: 20px; /* Tamaño de fuente más pequeño para el menú horizontal */
  }
}
img {
  max-width: 100%;
  height: auto;
}
   footer{
            background-color: #222;
            padding: 4.9rem;
            color: #ffff;
            position:relative;
         
            margin: 0;
        }
        footer section{
            float:right ;
            margin:0;
            position: relative;
            top: -60px;
        }
        footer a{
            transition: color 0.3s ease;
            color: #ffff;
            text-decoration: none;
        }
        footer a:hover{
            color: rgb(162, 204, 170);
        }
        footer p{
            position:relative;
            float: left;
            left: -1199px;
            color: #ffff;
            font-size: 20px;
        }
        .bad{
            font-size: 20px;
            position: relative;
            color:rgb(113, 112, 111);
            right: -20px;
            top: 6px;
        }
        .ok{
            font-size: 20px;
            position: relative;
            top: 30px;
        }
        #sele{
            font-size: 30px;


        }
        h1{
            font-size: 50px;

        }
        /* Estilos para el label */
        label {
            font-weight: bold; /* Texto en negrita */
            margin-bottom: 50px; /* Espacio inferior */
            color: #333; /* Color del texto */
        }
        .fond{
          width: 100%;
    
      
        }


#logo{
    position: relative;
    left: 90px;

    width: 400px;

}
#vigilado {
    float: right; /* Alinea la imagen a la izquierda dentro del header */
    width: 300px;
}
p{
    
    padding: 30px 15px;
    color: white;
    text-decoration: none;


}

</style>

<body>
       <header>
         <img id="membrete"   src="/imagenes/menbrete.png"/>
        <img  id="logo"      src="/imagenes/logo vianco.png"/>
        <img  id="vigilado"  src="/imagenes/vigilado.png"/>
        <hr>
        
       
 




    </header>
    <nav>
    <label class="logo" for=""></label>

      <ul class="menu-horizontal">
                      

                        {{#if isControl}}
                        
                        <li><p class="active"> CONTROL OPERATIVO</p>  
                            <ul class="menu-vertical" >
                               <li><a href=" /ver_novedades_C">NOVEDADES</a></li>
                                <li><a href="https://docs.google.com/spreadsheets/d/1pTFbY3-Qp76hAiNQ7JLC84uYwuu-np7MdGupLfvni4s/edit?usp=sharing" target="_blank" >PROGRAMACION VEHICULOS</a></li>
                                <li><a href="https://docs.google.com/spreadsheets/d/1hLHxxBTpXYh4JEZi0EK20G1lQyFTYnrjJ73qxwXFz3w/edit#gid=0/consulta-conductores" target="_blank">RECEPCIONES AEROPUERTO excel</a></li>
                                <li><a href="/buscar_por_fecha">RECEPCIONES</a></li>

                                 <li><a href=" /ver_novedades">NOVEDADES PENDIENTES</a></li>

                            </ul>
                        </li>
                        {{/if}}


              {{#if isControl}}
                        <li><p class="active">CallCENTER</p> 
                            <ul class="menu-vertical" >
                                <li><a href="/inicio" >INICIAR TURNO</a></li>
                                <li><a href="/novedades" >NOVEDADES</a></li>

                               
                            </ul>
                        </li>
                        {{/if}}










                        {{#if isOperative}}
                        <li><p class="active" >Operaciones</p> 
                            <ul class="menu-vertical" >
                                <li><a href="/consulta-vehiculos">Vehículo</a></li>
                                <li><a href="/consulta-conductores">Conductores</a></li>
                                <li><a href="/consulta-contabilidad">ADmin vehiculo</a></li>
                            </ul>
                        </li>
                        {{/if}}

                        {{#if isAdmin}}
                        <li><p class="menu-horizontal" >Gerencia</p> 
                            <ul class="menu-vertical">
                            <li><a href="/admin/roles">Ajustes de PERMISOS</a></li>
                            </ul>
                        </li>
                        {{/if}}
                        {{#if isExecutive}}
                        <li><p class="menu-horizontal">Ejecutivo</p>
                            <ul class="menu-vertical">
                                <li><a href="/programacion-vehiculos">Programación Vehículos</a></li>
                                <li><a href="#">COTIZACIONES</a></li>
                                <li><a href="/formulario">RECEPCIONES AEROPUERTO</a></li>
                                <li><a href="/seleccionar_hotel">TARIFAS HOTELES</a></li>
                                <li><a href="#">METAS</a></li>
                            </ul>
                        </li>
                        {{/if}}
                        <li><a  class="menu-horizontal" href="#">Soporte IT</a> 
                            <ul class="menu-vertical">
                                <li><a href="#">Citas</a></li>
                                <li><a href="#">Ayuda</a></li>
                            </ul>
                        </li>
                      
                      <li><a href="/logout" id="selected">CERRAR SESION</a></li>  

                    </ul>
</nav>
<div class="fondo">

        <img class="fond" src="/imagenes/carro menu.png" alt="">




</div>
    <footer>
        <section>
            <a href="mailto:soporte.it.vianco@gmail.com">soporte.it.vianco@gmail.com</a>
            <p>Copyrigt soporteVianco</p>
               <nav class="">
        <ul class="w-full ml-auto flex justify-end pt-1">
          
            
        </ul>
    </nav>
   
</body>
</html>