<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+25&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>PRINCIPAÑ</title>
    
</head>
<style>

* {
  font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .menu-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: white;
            z-index: 1000;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

#map {
    position: absolute;
    top: 8%;
    width: calc(100% ); /* Ancho del mapa */
    height: 100%;
    z-index: 1;
}

   .menu {
                
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
                 z-index: 1500; /* Asegura que esté por encima del encabezado */
             background-color: white;
            position: relative;
          z-index: 1500; /* Asegura que esté por encima del encabezado */
            list-style-type: none;
            margin: 0;
        }

        .menu > li {
            
                z-index: 1500; /* Asegura que esté por encima del encabezado */

            position: relative;
            display: inline-block;
      
        }

        .menu a {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: #333;
           
        }

        .menu li:hover {
            background-color: #f4f4f4;
        }

        .menu ul {
            display: none;
            position: absolute;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            left: 0;
        }

        .menu li:hover > ul {
            display: block;
        }

        .menu ul ul {
            left: 100%;
            top: 0;
        }

        .menu li ul li {
            position: relative;
        }

        .menu li ul li ul {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
        }

        .menu li ul li:hover > ul {
            display: block;
        }

#ope,#tec,#calll  {
    margin-left: 80px;
        margin-right: 80px;
width:60px;
    position: relative;
 }

#selected  {
    margin-left: 80px;
        margin-right: 80px;
width:40px;
    position: relative;
 }

 
#vi{
  width: 100%;
}

    #car{
 
      position: relative;
            top: 20px;
            left: 75%;
            width: 40px;
            height: 40px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
          float: inline-start;
            cursor: pointer;
           z-index: 9999;

    }
     #campana {
            top: 20px;
            position: relative;
            z-index: 9999;
           left: 80%;
            width: 40px;
            height: 40px;
            background-image: url('/imagenes/campana.png');
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
          float: inline-start;
            cursor: pointer;
        }

      #numNotificacionesSinLeer {
            position: absolute;
            top: 5px;
            right: -7px;
            background-color: #d9d9d9;
            color: black;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            font-weight: bold;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        /* Estilos de la ventana emergente */
        #ventanaEmergente {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 1px solid black;
            border-radius: 10px;
            z-index: 9999;
        }

        #ventanaEmergente h2 {
            margin-top: 0;
        }

        #btnCerrar {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
        }
   
   #ingreso{
    top: -20px;
   border-radius: 3px;
    text-align: center;
    font-size: 30px;
    position: relative;
    width: 10%;
   color: #90c9a7;
   left: 90%;
float: none;
            z-index: 9999;


   }
#toggleNavButton{
    border: 0px;
    padding: 0;
    margin: 0;
    background-color: white;
    bottom:40px;
    left: 3%;
position: relative;
float: left;
cursor: pointer;
width: 10%;
}






</style>


</head>

<body>
   <div id="map"></div>

<audio id="notificacionSound">
    <source src="/sonidos/level-up-2-199574.mp3" type="audio/mpeg">
    Tu navegador no soporta el elemento de audio.
</audio>

<div id="ventanaEmergente" style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; padding: 20px;">
    <span id="btnCerrar" onclick="cerrarVentanaEmergente()" style="position: absolute; top: 10px; right: 10px; cursor: pointer; color: #666;">Cerrar</span>
    <div class="VENTANA" style="text-align: center;">
    <h2 style="color: #333;">NUEVA COTIZACIÓN</h2>
    <br>
    <h2 style="color: #333;">Se agregó una nueva cotización. Por favor, ingresa a:</h2>
    <a href="/cotizaciones_pendientes" style="color: #007bff; text-decoration: none;">Ingresa aquí</a>
    </div>
    <br>
    
    <!-- Botón para marcar como leídas las notificaciones -->
    <button onclick="marcarComoLeidas()" style="background-color: #007bff; color: #fff; border: none; border-radius: 3px; padding: 10px 20px; cursor: pointer; margin-top: 10px;">Marcar como leídas</button>
</div>



        <div id="button-container">
        <a id="rastreo" href="/ver_ubicaiones">
        <img id="car"  src="imagenes/rastreo-de-orden.png" alt="">
        </a>
         </div>


  
            <div id="campana" onclick="mostrarVentanaEmergente()">
            <div id="numNotificacionesSinLeer"></div>
            </div>
    
 



            <h1 id="ingreso" >{{name}}</h1>






<div class="menu-container">
<ul class="menu">
     

    <li>
        <img id="ope" src="/imagenes/consultante.png" alt="">
        <ul>
             {{#if auxiliar}}
            <li>
                
                <a href="#">AUXIILIAR OPERATIVO</a>         <ul>
                    <li><a href="#">Creación</a>
                       <ul> <!-- Nuevo submenú -->
                            <li><a href="/seleccionar">fuec</a></li>
                            <li><a href="/agregar-vehiculo">Vehiculos</a></li>
                            <li><a href="/agregar-conductor">Conductores</a></li>
                            <li><a href="/agregar-contabilidad">administracion</a></li>
                            <li><a href="/nuevo_cliente">clientes</a></li>
                        </ul>
                    </li>
                      <li><a href="#">Consulta</a>
                       <ul> <!-- Nuevo submenú -->
                             <li><a href="/dat">fuec</a></li>
                             <li><a href="/consulta-vehiculos">Vehículo</a></li>
                             <li><a href="/consulta-conductores">Conductores</a></li>
                            <li><a href="/consulta-contabilidad">administracion</a></li>
                            <li><a href="/clientess">clientes</a></li>
                        </ul>
                      </li>
                </ul>
               
            </li>
         {{/if}}
  {{#if ejecutivo}}
            <li>
                  
                <a href="#">EJECUTIVO DE CUENTA</a>
                    <ul>
                    <li><a href="#">Creación</a>
                       <ul> <!-- Nuevo submenú -->
                     <li><a href="/programacion-vehiculos">Programación Vehículos</a></li>
                    <li><a href="/formulario_cotizaciones">cotizaciones</a></li>
                     <li><a href="/formulario">recepciones aeropuerto</a></li>

                        </ul>
                 </li>

                    <li><a href="#">Consulta</a>
                       <ul> <!-- Nuevo submenú -->
                         <li><a href="/ver-programacion" target="_blank" >programacion vehiculos</a></li>
                         <li><a href="/VE">cotizaciones realizadas</a></li>
                         <li><a href="/buscar_por_fecha">recepciones</a></li>
                         <li><a href="/seleccionar_hotel">tarifas hoteles</a></li>


                        </ul>
                   </li>

                </ul>
            </li>
              {{/if}}
               {{#if cordinacion}}
            <li>
                <a href="#">CORDINACION GENERAL</a>
                     <ul>
                    <li><a href="#">Creación</a>
                       <ul> <!-- Nuevo submenú -->
                     <li><a href="/programacion-vehiculos">Programación Vehículos</a></li>
                    <li><a href="/formulario_cotizaciones">cotizaciones</a></li>
                     <li><a href="/formulario">recepciones aeropuerto</a></li>
                     <li><a href="/novedades_viancoo">servicio no conforme</a></li>

                        </ul>
                 </li>

                    <li><a href="#">Consulta</a>
                       <ul> <!-- Nuevo submenú -->
                         <li><a href="/ver-programacion" target="_blank" >programacion vehiculos</a></li>
                         <li><a href="/VE">cotizaciones realizadas</a></li>
                        <li><a href="/cotizaciones_pendientes">cotizaciones pendientes</a></li>
                         <li><a href="/buscar_por_fecha">recepciones</a></li>
                        <li><a href="/consulta-vehiculos">Vehículo</a></li>
                         <li><a href="/consulta-conductores">Conductores</a></li>
                         <li><a href="/seleccionar_hotel">tarifas hoteles</a></li>
                      <li><a href=" /ver_novedades_C">novedades callcenter</a></li>
                      <li><a href=" /ver_novedades">novedades callcenter pendientes</a></li>
                     <li><a href="/ver_vianco">servicios no conformes</a></li>
                         <li><a href="/ver_novedades_vianco">servicios no conforme pendientes </a></li>


                        </ul>
                   </li>

                </ul>
            </li>
               {{/if}}          
   {{#if callcenter}}
            <li>
                <a href="#">CENTRO OPERACIONES</a>
                <ul>
                    <li><a href="#">Creación</a>
                       <ul> <!-- Nuevo submenú -->
                     <li><a href="/programacion-vehiculos">Programación Vehículos</a></li>
                      <li><a href="/formulario_cotizaciones">cotizaciones</a></li>
                     <li><a href="/formulario">recepciones aeropuerto</a></li>
                     <li><a href="/novedades_viancoo">servicio no conforme</a></li>
                 <li><a href="/novedades">novedades callcenter</a></li>
                     <li><a href="/inicio">inicio de turno</a></li>


                        </ul>
                 </li>

                    <li><a href="#">Consulta</a>
                       <ul> 
                        <li><a href="/ver-programacion" target="_blank" >programacion vehiculos</a></li>
                         <li><a href="/VE">cotizaciones realizadas</a></li>
                         <li><a href="/buscar_por_fecha">recepciones</a></li>
                        <li><a href="/consulta-vehiculos">Vehículo</a></li>
                         <li><a href="/consulta-conductores">Conductores</a></li>
                         <li><a href="/seleccionar_hotel">tarifas hoteles</a></li>


                        </ul>
                   </li>

                </ul>
            </li>
              
             {{/if}}  
              {{#if director}}
            <li>
                <a href="#">DIRECTOR OPERATIVO</a>
                <ul>
                    <li><a href="#">Creación</a>
                        <ul> <!-- Nuevo submenú -->
                                 <li><a href="/inspeccion">Inspección Vianco 2.0</a></li>
                            
                        </ul>
                    </li>
                    <li><a href="#">Consulta</a>
                        <ul> <!-- Nuevo submenú -->
                          
                        </ul>
                    </li>
                    <li><a href="#">Control (KPI´s)</a></li>
                </ul>
            </li>
        </ul>
    </li>
   
  
  {{/if}} 

<li>
        <img id="calll" src="/imagenes/mujer-de-negocios.png" alt="">
        <ul>
       <li><a href="/admin/roles">Ajustes de PERMISOS</a></li>
        </ul>
    </li>

  <li>
        <img id="tec" src="/imagenes/apoyo-tecnico.png" alt="">
        <ul>
            <li><a href="#">CITAS</a></li>
            <li><a href="#">SOPORTE</a></li>
        </ul>
    </li>
     <li><a href="/logout" ><img  id="selected" src="/imagenes/apagar.png" alt=""></a></li>  










       
</ul>

</div>

</body>
</html>



<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script>
    var map = L.map('map').setView([0, 0], 13);

    // Define el icono personalizado para el marcador de otros usuarios (antena)
    var antennaIcon = L.icon({
        iconUrl: '/imagenes/marcador-de-posicion.png',
        iconSize: [32, 32], // Tamaño del icono
        iconAnchor: [16, 32], // Punto de anclaje del icono
        popupAnchor: [0, -32] // Punto de anclaje del popup
    });




    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attribution">CARTO</a>'
}).addTo(map);




var empresaIcon = L.icon({
    iconUrl: '/imagenes/oficina.png', // Ruta a tu icono personalizado
    iconSize: [55, 55], // Tamaño del icono
    iconAnchor: [16, 32], // Punto de anclaje del icono
    popupAnchor: [0, -32] // Punto de anclaje del popup
});







var ubicacionEmpresa = { nombre: "VIANCO", latitud: 4.680963, longitud: -74.047428 };
L.marker([ubicacionEmpresa.latitud, ubicacionEmpresa.longitud], {icon: empresaIcon}).addTo(map)
    .bindPopup(ubicacionEmpresa.nombre).openPopup();











    // Conectar al servidor Socket.IO
    var socket = io();
    var hotelIcon = L.icon({
    iconUrl: '/imagenes/ubicacion.png', // Ruta a tu imagen personalizada
    iconSize: [55, 55], // Tamaño del icono
    iconAnchor: [16, 32], // Punto de anclaje del icono
    popupAnchor: [0, -32] // Punto de anclaje del popup
});

// Agregar marcadores de hoteles al mapa
var hoteles = [
    { nombre: "NH HACIENDA", latitud: 4.6917879, longitud: -74.0319878},
    { nombre: "NH TELEPORT", latitud: 4.691848, longitud: -74.035344},
    { nombre: "NH WTC", latitud: 4.6805553, longitud: -74.040445},
    { nombre: "HOTEL ESTELAR CALLE 100", latitud: 4.6847219, longitud: -74.0496408},
    { nombre: "NH URBAN 93", latitud: 4.6800893, longitud: -74.0562079 },
    { nombre: "NH pavillon", latitud: 4.6772523, longitud: -74.0494349 },
    { nombre: "HOTEL ESTELAR PARQUE 93", latitud: 4.674325, longitud: -74.0528475 },
    { nombre: "NH ANDINO", latitud: 4.668843, longitud: -74.052698 },
    { nombre: "AVANI ZONA T", latitud:4.6665003, longitud:-74.0571342 },
    { nombre: "CLUB EL NOGAL", latitud: 4.6600933, longitud: -74.0510783},
    { nombre: "HILTON 72", latitud:4.655751, longitud: -74.055407 },
    { nombre: "URBAN 26", latitud: 4.6309813, longitud: -74.086538},
    { nombre: "HILTON CORFERIAS", latitud: 4.6287861, longitud: -74.0954723},
    { nombre: "GRAND HYATT", latitud:4.644140, longitud: -74.099788}
    // Agrega más hoteles según sea necesario
];
// Agregar marcadores de hoteles al mapa
hoteles.forEach(function(hotel) {
    var marker = L.marker([hotel.latitud, hotel.longitud], {icon: hotelIcon}).addTo(map)
        .bindPopup(hotel.nombre);

    // Mostrar popup al pasar el mouse sobre el marcador
    marker.on('mouseover', function (e) {
        this.openPopup();
    });
    
    // Cerrar popup al retirar el mouse del marcador
    marker.on('mouseout', function (e) {
        this.closePopup();
    });
});

function onLocationFound(e) {
    var radius = e.accuracy / 2;

    // Verificar la precisión antes de mostrar la ubicación
    if (e.accuracy > 100) { // Por ejemplo, solo aceptar si la precisión es mayor que 100 metros
        return;
    }

    L.marker(e.latlng).addTo(map)
        .bindPopup('Estás dentro de ' + radius + ' metros de este punto').openPopup();

    L.circle(e.latlng, radius).addTo(map);

    // Obtener la fecha y hora actual
   // Obtener la fecha y hora actual
var currentTime = new Date();
var formattedTime = currentTime.toLocaleTimeString();

// Formatear la fecha en formato ISO 8601
var formattedDate = currentTime.toISOString().split('T')[0];

var username = "{{name}}"; // Obtener el nombre de usuario del servidor
socket.emit('location', { lat: e.latlng.lat, lng: e.latlng.lng, time: formattedTime, date: formattedDate, username: username });

}


    function onLocationError(e) {
        alert('Error de geolocalización: ' + e.message + '. Asegúrate de tener activado el GPS y de estar en un lugar con buena señal.');
    }

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

    map.locate({ setView: true, maxZoom: 16 });

/// Cuando se conecta el socket, solicitar las últimas ubicaciones conocidas
socket.on('connect', () => {
    socket.emit('requestUserLocations');
});



// Función para limpiar los marcadores existentes en el mapa
function clearMarkers() {
    markers.forEach(function(marker) {
        map.removeLayer(marker);
    });
    markers = []; // Vaciar el arreglo de marcadores
}

// Llamar a la función clearMarkers() antes de agregar nuevos marcadores
socket.on('userLocations', function(locations) {
    clearMarkers(); // Limpiar los marcadores existentes
    for (const username in locations) {
        const location = locations[username];
        // Agregar marcador para cada ubicación
        var marker = L.marker([location.lat, location.lng]).addTo(map)
            .bindPopup(username + '<br>' + 'FECHA: ' + location.date + '<br>' + 'HORA: ' + location.time).openPopup();
        markers.push(marker); // Agregar el marcador al arreglo
    }
});


// Agregar marcadores al mapa
var markers = []; // Almacena los marcadores para poder limpiarlos después

// Dentro del bucle que agrega marcadores de hoteles al mapa
markers.forEach(function(hotel) {
    var marker = L.marker([hotel.latitud, hotel.longitud], {icon: hotelIcon}).addTo(map)
        .bindPopup(hotel.nombre);

    markers.push(marker); // Agregar el marcador al arreglo de marcadores
});


// Función para obtener la ubicación del usuario y enviarla al servidor
function getLocationAndSend() {
    map.locate({ setView: false, maxZoom: 16 }); // No establecer vista y definir el zoom máximo
}

// Llamar a la función cada 10 segundos (10000 milisegundos)
setInterval(getLocationAndSend, 60000);
// Agregar evento de clic a los marcadores de usuario


// Escuchar los movimientos del usuario seleccionado desde el servidor
socket.on('userMovements', function (movements) {
    // Crear un arreglo de coordenadas para la línea
    var polylineCoords = [];
    // Recorrer todos los movimientos y agregar las coordenadas a la línea
    movements.forEach(function (movement) {
        polylineCoords.push([movement.lat, movement.lng]);
    });
    // Dibujar la línea en el mapa
    L.polyline(polylineCoords, { color: 'red' }).addTo(map);
});

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>



    // Función para cargar y mostrar las notificaciones
    function cargarNotificaciones() {
        $.get('/notificaciones', function(notificaciones) {
            // Limpiar el área de notificaciones
            $('#notificaciones').empty();

            // Agregar cada notificación al área
            notificaciones.forEach(function(notificacion) {
                $('#notificaciones').append(`<p>${notificacion.texto}</p>`);
            });
        });
    }

    // Llama a la función cargarNotificaciones cuando la página se carga
    $(document).ready(function() {
        cargarNotificaciones();
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>



    // Función para cargar y mostrar las notificaciones
    function cargarNotificaciones() {
        $.get('/notificaciones', function(notificaciones) {
            // Limpiar el área de notificaciones
            $('#notificaciones').empty();

            // Agregar cada notificación al área
            notificaciones.forEach(function(notificacion) {
                $('#notificaciones').append(`<p>${notificacion.texto}</p>`);
            });
        });
    }

    // Llama a la función cargarNotificaciones cuando la página se carga
    $(document).ready(function() {
        cargarNotificaciones();
    });
</script>

<script>

    var reproduccionAutomaticaHabilitada = false;
    var notificacionesSinLeer = 0;

    // Función para reproducir el sonido de notificación
    function reproducirSonidoNotificacion() {
        var audio = document.getElementById('notificacionSound');
        if (reproduccionAutomaticaHabilitada && notificacionesSinLeer > 0) {
            audio.play();
        }
    }

     function marcarComoLeidas() {
    // Realiza una solicitud POST para marcar las notificaciones como leídas en el servidor
    $.post('/marcarNotificacionesLeidas', function(data) {
        // Después de que se hayan marcado como leídas, actualiza el contador de notificaciones sin leer
        notificacionesSinLeer = 0;
        cargarNumNotificacionesSinLeer();
        // Cierra la ventana emergente después de marcar las notificaciones como leídas
        cerrarVentanaEmergente();
    });
}


// Función para cargar y mostrar el número de notificaciones sin leer
function cargarNumNotificacionesSinLeer() {
    $.get('/notificacionesSinLeer', function(data) {
        if (data.count > notificacionesSinLeer) {
            notificacionesSinLeer = data.count;
            $('#numNotificacionesSinLeer').text(notificacionesSinLeer);
                reproducirSonidoNotificacion(); // Reproduce el sonido de notificación
        }
    });
}
    // Función para mostrar la ventana emergente
    function mostrarVentanaEmergente() {
        $('#ventanaEmergente').show();
    }

    // Función para cerrar la ventana emergente
    function cerrarVentanaEmergente() {
        $('#ventanaEmergente').hide();
    }

 
    // Habilitar la reproducción automática cuando el usuario interactúa con la página
    $(document).ready(function() {
        $(document).on('click', function() {
            reproduccionAutomaticaHabilitada = true;
        });

        // Llamar a la función para cargar notificaciones sin leer cada 5 segundos
        setInterval(cargarNumNotificacionesSinLeer, 5000);
    });

    // Cargar el número de notificaciones sin leer al cargar la página
    $(document).ready(function() {
        cargarNumNotificacionesSinLeer();
    });
  
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Obtener referencia al botón y al elemento nav
        var toggleNavButton = document.getElementById("toggleNavButton");
        var nav = document.querySelector("nav");

        // Agregar un evento de clic al botón
        toggleNavButton.addEventListener("click", function() {
            // Cambiar la visibilidad del elemento nav
            if (nav.style.display === "none") {
                nav.style.display = "block";
            } else {
                nav.style.display = "none";
            }
        });
    });
</script>
<script>
    // Función para cargar y mostrar el número de notificaciones sin leer
    function cargarNumNotificacionesSinLeer() {
        $.get('/notificacionesSinLeer', function(data) {
            $('#numNotificacionesSinLeer').text(data.count);
        });
    }

    // Llamar a la función para cargar el número de notificaciones sin leer cuando la página se carga
    $(document).ready(function() {
        cargarNumNotificacionesSinLeer();
    });
</script>

</body>
</html>