<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de OpenStreetMap con Geolocalización</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
        }
    </style>
</head>
<body>
<div id="map"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script>
    var map = L.map('map').setView([0, 0], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Conectar al servidor Socket.IO
    var socket = io();

    // Define el icono personalizado para el marcador de otros usuarios (antena)
    var antennaIcon = L.icon({
        iconUrl: 'ruta/al/archivo/antena.png',
        iconSize: [32, 32], // Tamaño del icono
        iconAnchor: [16, 32], // Punto de anclaje del icono
        popupAnchor: [0, -32] // Punto de anclaje del popup
    });

    function onLocationFound(e) {
        var radius = e.accuracy / 2;

        L.marker(e.latlng).addTo(map)
            .bindPopup('Estás dentro de ' + radius + ' metros de este punto').openPopup();

        L.circle(e.latlng, radius).addTo(map);

        // Enviar la ubicación al servidor
        socket.emit('location', { lat: e.latlng.lat, lng: e.latlng.lng });
    }

    function onLocationError(e) {
        alert(e.message);
    }

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

    map.locate({ setView: true, maxZoom: 16 });

    // Recibir ubicaciones de otros usuarios y mostrarlas en el mapa con el icono de antena
    socket.on('userLocation', function (data) {
        var marker = L.marker([data.lat, data.lng], { icon: antennaIcon }).addTo(map);
        marker.bindPopup('Otro usuario').openPopup();
    });
</script>
</body>
</html>
