<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Recepciones</title>
      <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">

    <!-- Bootstrap CSS -->

</head>
    <style>
        /* Estilos generales para el cuerpo de la página */
       .todo{

                position: relative;
                min-height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(144, 201, 167,0.3);



        }
       .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 30px;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    .container header {
        font-size: 2em;
        font-weight: 600;
        color: #333;
        margin-bottom: 20px;
        position: relative;
    }

    .container header::before {
        content: " ";
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 3px;
        width: 50px;
        border-radius: 8px;
        background-color: rgba(144, 201, 167, 0.5);
    }

    .fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .input-field {
        width: calc(100% / 2 - 15px);
        margin-bottom: 20px;
    }

    .input-field label {
        font-size: 1.2em;
        font-weight: 500;
        color: #2e2e2e;
        margin-bottom: 5px;
    }

    .input-field input,
    .input-field select {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #aaa;
        box-sizing: border-box;
    }

    .input-field select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6"><path fill="%23333" d="M6 5.196L.75.5h10.5L6 5.196z"/></svg>');
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;
        background-size: 12px;
    }

    .input-field select:focus {
        border-color: #888;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    .input-field select option {
        font-size: 16px;
        font-weight: 400;
        color: #333;
    }

    .input-field a {
        display: inline-block;
        background-color: #90c9a7;
        color: #000;
        border: none;
        padding: 15px 30px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }

    .input-field a:hover {
        background-color: #d9d9d9;
    }
 .input-field input:is(focus,:valid){
    box-shadow: 0 3 px 6px rgb(0, 0, 0,0.13) ;




 }

   .volver-btn:hover {
            background-color: #d9d9d9;
            }
       
                 .volver-btn {
                    position:relative;
                    left: -1%;
                    top: 20px;

                    
           background-color:#90c9a7;
            color: #000;
            border: none;
            padding: 22px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
           margin-top: 20px;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
       
        }
        .enviar:hover {
            background-color: #d9d9d9;
        }
        .enviar{
            position:relative;
                    

                    
           background-color:#90c9a7;
            color: #000;
            border: none;
            padding: 25px 38px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            left: -100px;
            font-size: 30px;



        }
      
    .input-field label{
        font-size: 25px;



        

        }
        /* Estilos para la lista desplegable */
.input-field select {
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 10px 15px; /* Ajusta el padding según tu preferencia */
    height: 42px;
    margin: 8px 0;
    width: 100%; /* Ajusta el ancho de acuerdo a tus necesidades */
    box-sizing: border-box; /* Evita que el padding afecte el ancho total */
}

.input-field select:focus {
    border-color: #888;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

/* Estilos para las opciones de la lista desplegable */
.input-field select option {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    background-color: #fff;
}

/* Estilos para la flecha de la lista desplegable */
.input-field::after {
    content: '\25BC'; /* Código Unicode para la flecha hacia abajo */
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none; /* Evita que la flecha sea clickeable */
}
/* Estilos para las opciones de la lista desplegable */
.input-field select option {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    background-color: #d9d9d9; /* Color de fondo predeterminado */
}

/* Estilos para las opciones de la lista desplegable al pasar el mouse */
.input-field select option:hover {
    background-color: #d9d9d9; /* Color de fondo al pasar el mouse */
}
/* Estilos para las opciones de la lista desplegable */
.input-field select option {
    font-size: 20px; /* Tamaño de la fuente */
    font-weight: 400;
    color: #333; /* Color del texto */
    background-color: #fff; /* Color de fondo predeterminado */
}

/* Estilos para las opciones de la lista desplegable al pasar el mouse */
.input-field select option:hover,
.input-field select option:focus {
    background-color: #90c9a7; /* Color de fondo al pasar el mouse o estar seleccionado */
    color: #000; /* Color del texto al pasar el mouse o estar seleccionado */
}
.CA{

    color: #fff
}

    </style>


<body>
      <header>
        <img id="membrete"   src="/imagenes/menbrete.png"/>
        <img  id="logo"      src="../imagenes/logo vianco.png"/>
        <img  id="vigilado"  src="../imagenes/vigilado.png"/>
        <hr>
    </header>


<body>
    <div class="todo">
    <div class="container">
        <header>Formulario de Recepciones</header>
        <form action="/procesar_formulario" method="POST">
        <div class="fields">
            <div class="input-field">
       <!-- Primer select -->
<label for="cliente">Cliente Costo:</label>
<!-- Primer select -->
<label for="cliente">Cliente Costo:</label>
<select id="clienteCosto" name="cliente" required>
    {{#each clientes}}
        <option value="{{this.nombre}}">{{this.nombre}}</option>
    {{/each}}
</select><br><br>
<input type="hidden" id="clienteSeleccionado" name="clienteSeleccionado">


        </div>
          <div class="input-field">
              <label for="fecha">Fecha:</label>
        <input  type="date" id="fecha" name="fecha" required><br><br>
 </div>
 <div class="input-field">
             <label for="hora">Hora:</label>
        <input type="time" id="hora" name="hora" required><br><br>
</div>
 <div class="input-field">
         <label for="nombre_pasajero">Nombre del Pasajero:</label>
        <input type="text" id="nombre_pasajero" name="nombre_pasajero" required><br><br>

   </div>


       <div class="input-field">
        <label for="valor">Valor:</label>
        <input type="text" id="valor" name="valor" required><br><br>
</div>
 <div class="input-field">
        <label for="cantidad_pasajeros">Cantidad de Pasajeros:</label>
        <input type="number" id="cantidad_pasajeros" name="cantidad_pasajeros" required><br><br>

     </div>
      <div class="input-field">

        <label for="vuelo">Vuelo:</label>
        <input type="text" id="vuelo" name="vuelo" required><br><br>
</div>
 <div class="input-field">

     <label for="placa">Placa:</label>
            <select id="placa" name="placa" required>
                {{#each placas}}
                    <option value="{{this.placa}}">{{this.placa}}</option>
                {{/each}}
            </select><br><br>
            </div>
             <div class="input-field">

        <label for="conductor">Conductor:</label>
        <input type="text" id="conductor" name="conductor"required readonly ><br><br>
</div>

<div class="input-field">
    <label for="foto">Foto del Conductor:</label>
    <img id="foto_conductor" src="" alt="Foto del Conductor" style="max-width: 200px;">
</div>



    <div class="input-field">


        <label for="celular_conductor">Celular del Conductor:</label>
        <input type="tel" id="celular_conductor" name="celular_conductor" required readonly><br><br>
</div>
 <div class="input-field">
           <label for="tipo_vehiculo">Tipo de Vehículo:</label>

        <select id="tipo_vehiculo" name="tipo_vehiculo" required>
            <option value="Automóvil">Automóvil</option>
            <option value="Camioneta">Camioneta</option>
            <option value="Van">Van</option>
        </select><br><br>
        </div>
         <div class="input-field">


        <label for="observaciones">Observaciones:</label>
        <input type="observaciones" id="observaciones" name="observaciones" ><br><br>
</div>
                        <input class="enviar" type="submit" value="Enviar">


                      <a href="/" class="volver-btn">Volver al Menú</a>
                                              <a   target="_blank" href="https://docs.google.com/spreadsheets/d/1zy0koOePK6IKqv2Y9X5z7gL8tG_nWE3UeirkJ4__-t8/edit#gid=0" class="volver-btn">VER RECEPCIONES</a>

    </form>
    </div>
    </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#placa').change(function() {
        var placaSeleccionada = $(this).val();
        $.ajax({
            url: '/obtener_conductor',
            method: 'POST',
            data: { placa: placaSeleccionada },
            success: function(response) {
                $('#conductor').val(response.conductor);
                $('#celular_conductor').val(response.celular);
                $('#foto_conductor').attr('src', response.fotoURL); // Mostrar la imagen en un elemento de imagen con id "foto_conductor"
            },
            error: function(error) {
                console.error('Error al obtener el conductor:', error);
                alert('Error al obtener el conductor. Por favor, inténtalo de nuevo.');
            }
        });
    });
});



</script>


        
 <script>
   document.getElementById('formulario').addEventListener('submit', async function(event) {
    event.preventDefault(); // Evita que el formulario se envíe de forma tradicional
    
    // Envía el formulario mediante una petición AJAX
    var formData = new FormData(this);
    try {
        const response = await fetch('/procesar_formulario', {
            method: 'POST',
            body: formData
        });

        if (response.ok) {
            // Si la respuesta es exitosa, muestra el mensaje de alerta
            alert('Mensaje enviado al aeropuerto.');

            // Inicia la descarga del PDF automáticamente
            window.location.href = '/descargar_pdf';
            
            // Limpiar el formulario
            this.reset();
        } else {
            // Maneja cualquier error de respuesta del servidor
            console.error('Error al procesar el formulario:', response.statusText);
            alert('Ocurrió un error al procesar el formulario. Por favor, inténtalo de nuevo.');
        }
    } catch (error) {
        console.error('Error de red:', error);
        alert('Ocurrió un error de red. Por favor, verifica tu conexión e inténtalo de nuevo.');
    }
});
  // Obtener referencia al select y al campo oculto
    const clienteCostoSelect = document.getElementById('clienteCosto');
    const clienteSeleccionadoInput = document.getElementById('clienteSeleccionado');

    // Agregar evento onchange al primer select
clienteCostoSelect.addEventListener('change', function() {
    const selectedCliente = clienteCostoSelect.value;
    clienteSeleccionadoInput.value = selectedCliente;
});


    </script>
</body>
</html>
