<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Ubicaciones</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        /* Estilos CSS aquí */
        #map {
            position: absolute;
            top: 0;
            left: 400px; /* Ancho de la barra de navegación */
            width: calc(100% - 200px); /* Ancho del mapa */
            height: 100%;
            z-index: 1;
        }

        #usuarios-list {
            top: 20px;
            max-height: calc(100% - 40px); /* Altura máxima de la lista */
            overflow-y: auto; /* Habilitar scroll vertical cuando la lista sea demasiado larga */
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .usuario-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            background-color: #f0f0f0;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .usuario-item:hover {
            background-color: #e0e0e0;
        }

        .usuario-item:last-child {
            margin-bottom: 0;
        }

        .usuario-item p {
            margin: 0;
            font-weight: bold;
            color: #333;
            margin-left: 10px;
        }

        #search-bar {
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 100%;
            box-sizing: border-box;
        }
        body{
            background-color: #666567;
        }
        #vi{
  width: 6%;
}
       .volver-btn:hover, .ver:hover {
            background-color: #d9d9d9;
        }
        .volver-btn, .ver {
            position: relative;
            left: 50px;

            text-transform: uppercase;
            background-color: #90c9a7;
            color: #000;
            border: none;
            padding: 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<body><br>
        <img id="vi" src="/imagenes/logo pestaña.PNG" alt="">
            <a href="/" class="volver-btn"><strong>Volver al Menú</strong></a>

<br>
<br>
    <input type="text" id="search-bar" placeholder="Buscar usuario...">
    <div id="usuarios-list"></div>
    <div id="map"></div>

    <script>
        var map = L.map('map').setView([4.60971, -74.08175], 13); // Vista inicial centrada en Bogotá
        var polyline = null; // Variable global para almacenar la capa de trazo

        L.tileLayer('https://{s}.google.com/vt/lyrs={type}&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3'],
            type: 'y', // Cambia el estilo aquí ('s' para mapas de calle, 'y' para híbrido, 't' para terreno, 'm' para satélite)
            attribution: 'Map data &copy; <a href="https://www.google.com/">Google</a>'
        }).addTo(map);

        function cargarUsuarios() {
            $.get('/usuarios', function(data) {
                var usuariosList = $('#usuarios-list');
                data.forEach(function(usuario) {
                    var usuarioItem = $('<div class="usuario-item"></div>');
                    usuarioItem.append('<img src="' + usuario.foto + '" alt="Foto de perfil" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">');
                    usuarioItem.append('<p>' + usuario.nombre_usuario + '</p>');
                    usuarioItem.click(function() {
                        cargarUbicaciones(usuario.nombre_usuario);
                    });
                    usuariosList.append(usuarioItem);
                });
            });
        }

        function cargarUbicaciones(usuario) {
            $.get('/ubicaciones/' + usuario, function(data) {
                var latlngs = data.map(function(ubicacion) {
                    return [ubicacion.latitud, ubicacion.longitud, ubicacion.hora];
                });

                // Limpiar trazo anterior antes de agregar uno nuevo
                limpiarMapa();

                polyline = L.polyline(latlngs, {color: 'blue'}).addTo(map);

                // Agregar etiquetas emergentes (popups) en cada punto del recorrido
                for (var i = 0; i < latlngs.length; i++) {
                    L.marker(latlngs[i]).bindPopup(latlngs[i][2]).addTo(map);
                }

                map.fitBounds(polyline.getBounds());
            });
        }

        function limpiarMapa() {
            if (polyline) {
                map.removeLayer(polyline);
            }
        }

        $(document).ready(function() {
            cargarUsuarios();

            // Agregar funcionalidad de búsqueda
            $('#search-bar').on('input', function() {
                var input = $(this).val().toLowerCase();
                $('.usuario-item').each(function() {
                    var nombreUsuario = $(this).find('p').text().toLowerCase();
                    if (nombreUsuario.includes(input)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
</body>
</html>
