<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programación de Vehículos</title>
      <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">

    <link rel="stylesheet" href="programacion.css"> <!-- Asegúrate de que la ruta del archivo CSS sea correcta -->
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            background-color: #d9d9d9; /* Color de fondo */
        }
        header {
            background-color: #ffffff; /* Color de fondo del encabezado */
            padding: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0; /* Asegura que no haya margen en el encabezado */
        }
#logo{
    position: relative;
    left: 90px;

    width: 400px;

}
#vigilado {
    float: right; /* Alinea la imagen a la izquierda dentro del header */
    width: 300px;
}


        .container {
            background-color: rgb(144,201,167,0.5);
           border: solid 5px  #666567;
            top: 60px;
            max-width: 800px; /* Limita el ancho del contenido para que no sea demasiado ancho en pantallas grandes */
            margin: 0 auto; /* Centra el contenido horizontalmente */
            padding: 20px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            font-weight: bold;
        }
        input, select, textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        button[type="submit"] {
            font-size: 18px;
               padding: 20px 20px;
            background-color:#666567; /* Color de fondo del botón */
            color: #fff; /* Color del texto del botón */
            text-decoration: none; /* Elimina el subrayado del enlace */
            border-radius: 5px; /* Borde redondeado */
            display: inline-block; /* Muestra el enlace como un bloque en línea */
            margin-bottom: 20px; /* Margen inferior para separarlo de otros elementos */
            transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
            border: 1px solid #d9d9d9; /* Borde del botón */
        }
        
        button[type="submit"]:hover {
             background-color:#90c9a7; /* Color de fondo del botón al pasar el ratón */
            border: 1px solid #000; /* Cambia el color del borde al pasar el ratón */
        }
     
    #btn-volver {
            padding: 7px 20px;
            background-color:#666567; /* Color de fondo del botón */
            color: #fff; /* Color del texto del botón */
            text-decoration: none; /* Elimina el subrayado del enlace */
            border-radius: 5px; /* Borde redondeado */
            display: inline-block; /* Muestra el enlace como un bloque en línea */
            margin-bottom: 20px; /* Margen inferior para separarlo de otros elementos */
            transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
            border: 1px solid #d9d9d9; /* Borde del botón */
        }
        #btn-volver:hover {
            background-color:#90c9a7; /* Color de fondo del botón al pasar el ratón */
            border: 1px solid #000; /* Cambia el color del borde al pasar el ratón */
        }
           #btn-ver{
           position: relative;
           left: 100px;
                       padding: 7px 20px;
            background-color:#666567; /* Color de fondo del botón */
            color: #fff; /* Color del texto del botón */
            text-decoration: none; /* Elimina el subrayado del enlace */
            border-radius: 5px; /* Borde redondeado */
            display: inline-block; /* Muestra el enlace como un bloque en línea */
            margin-bottom: 20px; /* Margen inferior para separarlo de otros elementos */
            transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
            border: 1px solid #d9d9d9; /* Borde del botón */
        }
        #btn-ver:hover {
            background-color:#90c9a7; /* Color de fondo del botón al pasar el ratón */
            border: 1px solid #000; /* Cambia el color del borde al pasar el ratón */
        }
         .input-field {
        width: calc(100% / 2 - 15px);
        margin-bottom: 20px;
    }

label {
        font-size: 1.2em;
        font-weight: 500;
        color: #2e2e2e;
        margin-bottom: 5px;
    }

    input,
     select {
        width: 100%;
        padding: 10px;
        font-size: 25px;
        border-radius: 5px;
        border: 1px solid #aaa;
        box-sizing: border-box;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6"><path fill="%23333" d="M6 5.196L.75.5h10.5L6 5.196z"/></svg>');
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;
        background-size: 15px;
    }

    select:focus {
        border-color: #888;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

     select option {
        font-size: 15px;
        font-weight: 1px;
        color: #333;
    }

    a {
        display: inline-block;
        background-color: #90c9a7;
        color: #000;
        border: none;
        padding: 15px 30px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }

    a:hover {
        background-color: #d9d9d9;
    }
input:is(focus,:valid){
    box-shadow: 0 3 px 6px rgb(0, 0, 0,0.13) ;




 }
 h2{
    color:#413d4b;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold; /* Aplicar negrita */



 }
 form label{
font-size: 25PX;
    text-transform: uppercase;

    font-weight: bold; /* Aplicar negrita */

 }


@media only screen and (max-width: 768px) {


 
        header {
          display: none;
        }



        .container {
            background-color: rgb(144,201,167,0.5);
           border: solid 5px  #666567;
            top: 60px;
            width: 85%; /* Limita el ancho del contenido para que no sea demasiado ancho en pantallas grandes */
            margin: 0 auto; /* Centra el contenido horizontalmente */
            padding: 20px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            font-weight: bold;
        }
        input, select, textarea {
            width: 90%;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        button[type="submit"] {
            font-size: 18px;
               padding: 20px 20px;
            background-color:#666567; /* Color de fondo del botón */
            color: #fff; /* Color del texto del botón */
            text-decoration: none; /* Elimina el subrayado del enlace */
            border-radius: 5px; /* Borde redondeado */
            display: inline-block; /* Muestra el enlace como un bloque en línea */
            margin-bottom: 20px; /* Margen inferior para separarlo de otros elementos */
            transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
            border: 1px solid #d9d9d9; /* Borde del botón */
        }
        
        button[type="submit"]:hover {
             background-color:#90c9a7; /* Color de fondo del botón al pasar el ratón */
            border: 1px solid #000; /* Cambia el color del borde al pasar el ratón */
        }
     
    #btn-volver {
            padding: 7px 20px;
            background-color:#666567; /* Color de fondo del botón */
            color: #fff; /* Color del texto del botón */
            text-decoration: none; /* Elimina el subrayado del enlace */
            border-radius: 5px; /* Borde redondeado */
            display: inline-block; /* Muestra el enlace como un bloque en línea */
            margin-bottom: 20px; /* Margen inferior para separarlo de otros elementos */
            transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
            border: 1px solid #d9d9d9; /* Borde del botón */
        }
        #btn-volver:hover {
            background-color:#90c9a7; /* Color de fondo del botón al pasar el ratón */
            border: 1px solid #000; /* Cambia el color del borde al pasar el ratón */
        }
           #btn-ver{
           position: relative;
           left: 0px;
                       padding: 7px 20px;
            background-color:#666567; /* Color de fondo del botón */
            color: #fff; /* Color del texto del botón */
            text-decoration: none; /* Elimina el subrayado del enlace */
            border-radius: 5px; /* Borde redondeado */
            display: inline-block; /* Muestra el enlace como un bloque en línea */
            margin-bottom: 20px; /* Margen inferior para separarlo de otros elementos */
            transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
            border: 1px solid #d9d9d9; /* Borde del botón */
        }
        #btn-ver:hover {
            background-color:#90c9a7; /* Color de fondo del botón al pasar el ratón */
            border: 1px solid #000; /* Cambia el color del borde al pasar el ratón */
        }
         .input-field {
        width: calc(100% / 2 - 15px);
        margin-bottom: 20px;
    }

label {
        font-size: 10px;
        font-weight: 500;
        color: #2e2e2e;
        margin-bottom: 5px;
    }

    input,
     select {
        width: 100%;
        padding: 10px;
        font-size: 25px;
        border-radius: 5px;
        border: 1px solid #aaa;
        box-sizing: border-box;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6"><path fill="%23333" d="M6 5.196L.75.5h10.5L6 5.196z"/></svg>');
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;
        background-size: 15px;
    }

    select:focus {
        border-color: #888;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

     select option {
        font-size: 25px;
        font-weight: 400px;
        color: #333;
    }

    a {
        display: inline-block;
        background-color: #90c9a7;
        color: #000;
        border: none;
        padding: 15px 30px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }

    a:hover {
        background-color: #d9d9d9;
    }
input:is(focus,:valid){
    box-shadow: 0 3 px 6px rgb(0, 0, 0,0.13) ;




 }
 h2{
    color:#413d4b;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold; /* Aplicar negrita */



 }
 form label{
font-size: 15PX;
    text-transform: uppercase;

    font-weight: bold; /* Aplicar negrita */

 }




    }











    </style>
</head>
<body>

<header>
    <img id="membrete" src="/imagenes/menbrete.png"/>
    <img id="logo" src="../imagenes/logo vianco.png"/>
    <img id="vigilado" src="../imagenes/vigilado.png"/>
    <br>
<br>
<hr>

</header>

<div class="container">
    <h2>Programación de Vehículos</h2>
    <form id="programacionForm" method="post" action="/programacion-vehiculos">
        <div class="form-group">
            <label for="base">Seleccionar Base:</label>
            <select id="base" name="base" required>
                <option value="" disabled selected>Seleccione una base</option>
                <!-- Las opciones de base se llenarán dinámicamente usando JavaScript -->
            </select>
        </div>
        <div class="form-group" id="placasGroup">
            <label for="placa">Seleccionar Placa:</label>
            <select id="placa" name="placa" required>
                <option value="" disabled selected>Seleccione una placa</option>
                <!-- Las opciones de placa se llenarán dinámicamente usando JavaScript -->
            </select>
        </div>
        <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
        </div>
        <div class="form-group">
            <label for="horario">Horario:</label>
            <select id="horario" name="horario" required>
                <option value="" disabled selected>Seleccione un horario</option>
                <option value="04:00 A 12:00">04:00 A 12:00</option>
                <option value="06:00 A 14:00">06:00 A 14:00</option>
                <option value="08:00 A 16:00">08:00 A 16:00</option>
                <option value="12:00 A 20:00">12:00 A 20:00</option>
                <option value="14:00 A 22:00">14:00 A 22:00</option>
                <option value="20:00 A 04:00">20:00 A 04:00</option>
                <option value="PICO Y PLACA">PICO Y PLACA</option>
                <option value="PERMISO">PERMISO</option>
                <option value="NO ACEPTA PROGRAMACION">NO ACEPTA PROGRAMACION </option>
                <!-- Agrega el resto de las opciones de horario según tu necesidad -->
            </select>
        </div>
        <div class="form-group">
            <label for="observaciones">Observaciones:</label>
            <textarea id="observaciones" name="observaciones" rows="5" ></textarea>
        </div>
        
        
        <button type="submit">Programar Vehículo</button>

    </form>

<br>
<br>

<a href="/" id="btn-volver">Volver al Inicio</a>



    <a href="/ver-programacion" id="btn-ver" target="_blank">Mi programación</a>
    




</div>
<script>

document.addEventListener('DOMContentLoaded', function() {
    const programacionForm = document.getElementById('programacionForm');

    programacionForm.addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar el envío del formulario por defecto

        const formData = new FormData(programacionForm); // Obtener los datos del formulario

        // Convertir los datos del formulario a un objeto JSON
        const jsonData = {};
        formData.forEach((value, key) => {
            jsonData[key] = value;
        });

        // Enviar los datos al servidor utilizando Fetch API
        fetch('/guardar-programacion', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData)
        })
        .then(response => {
            if (response.ok) {
                return response.json(); // Convertir la respuesta a JSON si la petición es exitosa
            }
            throw new Error('Error en la respuesta del servidor.');
        })
        .then(data => {
            // Manejar la respuesta del servidor, por ejemplo, mostrar un mensaje de éxito
            alert('La programación del vehículo ha sido guardada exitosamente.');
            // También puedes redirigir al usuario a otra página si lo deseas
            // window.location.href = '/ruta-de-exito';
        })
        .catch(error => {
            console.error('Error al procesar la solicitud:', error);
            // Manejar errores, por ejemplo, mostrar un mensaje de error al usuario
        });
    });
});





</script>
<script src="programacion.js"></script> <!-- Asegúrate de que la ruta del archivo JavaScript sea correcta -->
</body>
</html>
