<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="programacion.css">
<body>
    <header>
        <nav>
            <h1>PROGRAMACION VIANCO</h1>
            <ul>
                <li><a href="/">INICIO</a></li>

                <li><a href="">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Formulario de Registro</h2>
        <form id="registrationForm" method="post" action=""> 
            <div class="form-group">
                <label for="base">Nombre de la Base:</label>
                <select id="base" name="base" onchange="updatePlacas()" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="NH TELEPORT">NH TELEPORT</option>
                    <option value="NH HACIENDA">NH HACIENDA</option>
                    <option value="HYAAT">HYAAT</option>
                    <option value="club el nogal">NOGAL</option>
                    <option value="HILTON 72">HILTON 72</option>
                    <option value="URBAN 93">URBAN 93</option>
                    <option value="WTC">WTC</option>
                    <option value="WILTON CORFERIAS">WILTON CORFERIAS</option>
                    <option value="ANDINO">ANDINO</option>
                    <!-- Otras opciones de base -->
                </select>
            </div>
            <div class="form-group" id="placasGroup">
                <label for="placa">Placa del Vehículo:</label>
                <select id="placa" name="placa" required>
                    <option value="" disabled selected>Seleccione una base primero</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha" required>
            </div>
            <div class="form-group">
                <label for="horario">Horario:</label>
                <select id="horario" name="horario" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
            <div class="form-group">
                <label for="observaciones">Observaciones:</label>
                <textarea id="observaciones" name="observaciones" rows="5" required></textarea>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <div class="horarios-info">
        <h3>Información de Horarios</strong></h3>
        <ul>
            <li>1: 04:00 a 12:00</li>
            <li>2: 6:00 a 14:00</li>
            <li>3: 8:00 a 16:00</li>
            <li>4: 12:00 a 20:00</li>
            <li>5: 14:00 a 22:00</li>
            <li>6: 20:00 a 04:00</li>
            <li>7: Pico y placa</li>
            <li>8: Permiso</li>
            <li>9: No acepta programación</li>
        </ul>
    </div>

    <script src="programacion.js"></script>
</body>
</html>
