<!-- Recepciones aeropuerto -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<body>
    <form id="formFecha" class="BUSCAR">
    <h1>RECEPCIONES AEROPUERTO</h1>
    <br>
    <label class="fehcaa" for="fecha">Selecciona una fecha:</label>
    <input type="date" id="fecha" name="fecha">
    <button type="submit" class="ver">Ver Recepciones</button>
    <a href="/" class="volver-btn"><strong>Volver al Menú</strong></a>
</form>
<hr>
<div id="recepcionesContainer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#formFecha').submit(function(event) {
            event.preventDefault();
            const fecha = $('#fecha').val();
            $.ajax({
                type: 'POST',
                url: '/buscar_por_fecha',
                data: { fecha: fecha },
                success: function(response) {
                    mostrarRecepciones(response);
                },
                error: function(error) {
                    console.error('Error en la solicitud AJAX:', error);
                }
            });
        });
function mostrarRecepciones(recepciones) {
    const recepcionesContainer = $('#recepcionesContainer');
    recepcionesContainer.empty(); // Limpiar el contenedor

    // Filtrar los clientes que contienen "NH" en su nombre
    const clientesNH = recepciones.filter(recepcion => recepcion.cliente.includes('NH'));

    // Filtrar los clientes que no contienen "NH" en su nombre
    const otrosClientes = recepciones.filter(recepcion => !recepcion.cliente.includes('NH'));

    // Ordenar los clientes por hora de forma ascendente
    clientesNH.sort((a, b) => new Date(a.fecha + 'T' + a.hora) - new Date(b.fecha + 'T' + b.hora));
    otrosClientes.sort((a, b) => new Date(a.fecha + 'T' + a.hora) - new Date(b.fecha + 'T' + b.hora));

    if (clientesNH.length === 0 && otrosClientes.length === 0) {
        recepcionesContainer.html("<p>No hay recepciones de aeropuerto para esta fecha</p>");
    } else {
        // Crear tabla para clientes que contienen "NH"
        const tablaClientesNH = crearTablaClientes(clientesNH);

        // Crear tabla para otros clientes
        const tablaOtrosClientes = crearTablaClientes(otrosClientes);

        // Agregar ambas tablas al contenedor principal
        recepcionesContainer.append(tablaClientesNH);
        recepcionesContainer.append(tablaOtrosClientes);
    }
}


function crearTablaClientes(clientes) {
    // Ordenar los clientes por hora de forma ascendente
    clientes.sort((a, b) => new Date(a.fecha + 'T' + a.hora) - new Date(b.fecha + 'T' + b.hora));

    const tablaHTML = `
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Nombre del Pasajero</th>
                    <th>N° de Vuelo</th>
                    <th>Placa</th>
                    <th>Conductor</th>
                    <th>Celular del Conductor</th>
                </tr>
            </thead>
            <tbody>
                ${clientes.map(recepcion => `
                    <tr>
                        <td>${recepcion.cliente}</td>
                        <td>${new Date(recepcion.fecha).toLocaleDateString()}</td>
                        <td>${recepcion.hora}</td>
                        <td>${recepcion.nombre_pasajero}</td>
                        <td>${recepcion.vuelo}</td>
                        <td>${recepcion.placa}</td>
                        <td>${recepcion.conductor}</td>
                        <td>${recepcion.celular_conductor}</td>
                    </tr>
                `).join('')}
            </tbody>
        </table>
    `;

    return tablaHTML;
}



    });
</script>

</body>
</html>

