<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña Restablecida</title>
</head>
<body>
    <h1>¡Contraseña Restablecida!</h1>
    <p>Su contraseña ha sido restablecida correctamente.</p>
    <!-- Puedes agregar más contenido aquí según tus necesidades -->
</body>
</html>
