


<!DOCTYPE html>
<!-- aca inicia el html de mi pagina de login-registro-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vianco</title>
    <!-- aca esta mi tipo de letra-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./pagina login/css/stylos.css">
     <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">

    
    <!-- este stilo es el fondo de pantalla no lo lee en css-->

       <style>

#logo{
    position: relative;
    left: 90px;

    width: 400px;

}
#vigilado {

    float: right; /* Alinea la imagen a la izquierda dentro del header */
    width: 300px;
}

 
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;

}
#logo{
    position: relative;
    left: 90px;

    width: 400px;

}


    </style>
</head>
<body>

    <header>
        <img id="membrete"   src="/imagenes/menbrete.png"/>
        <img  id="logo"      src="../imagenes/logo vianco.png"/>
        <img  id="vigilado"  src="../imagenes/vigilado.png"/>
        
       
 




    </header>
                                                                   <a href="/login/register" class="nav-link font-semibold border-white hover:bg-white hover:text-green-700 py-3 px-4 rounded-md">.</a>

    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            background-image: url("../imagenes/fondo carro.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }
        header{
            background-color: #ffff;
            
        }
        #vigilado{
            float: right;
            position: relative;
            top: 44px;
            right: 4%;
        }
        #logo{
            position: relative;
            left: 3%;
        }
        main{
            width: 100%;
            padding: 20px;
            margin: auto;
            margin-top: 100px;
        }
        .contenedor__todo{
            width:100%;
            max-width:800px;
            margin: auto;
            position: relative;
        }
        .caja__trasera{
            width: 100%;
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            backdrop-filter: blur(10px);
            background-color: rgb(113, 112, 111,0.3);
        }
        .caja__trasera div{
            margin: 100px 40px;
            color: #ffff;
            transition: all 500ms;
        }
        .caja__trasera div p,
        .caja__trasera div button{
            margin-top: 30px;
        }
        .caja__trasera div h3{
            font-weight: 400;
            font-size: 26px;
        }
        .caja__trasera button{
            padding: 10px 40px;
            border: 2px solid color#ffff;
            background: transparent;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            color: #ffff;
            outline: none;
            transition: all 300ms;
        }
        .caja__trasera button:hover{
            background: #ffff;
            color: rgb(113, 112, 111);
        }
        /* formularios*/
        .contenedor__login-register {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 380px;
            position: relative;
            top:-185px;
            left: 10px;
            transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
        }
        .contenedor__login-register form{
            width: 100%;
            padding: 80px 20px;
            background-color: #ffff;
            position: absolute;
            border-radius: 20px;
        }
        .contenedor__login-register form h2{
            font-size: 30px;
            text-align: center;
            margin-bottom: 20px;
            color:rgb(113, 112, 111);
        }
        .contenedor__login-register form input{
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            border: none;
            background-color: #f2f2f2;
            font-size: 16px;
            outline:none;
        }
        .contenedor__login-register form button{
            padding: 10px 40px;
            margin-top: 40px;
            border: none;
            font-size: 14px;
            background:rgb(113, 112, 111);
            color: #ffff;
            cursor: pointer;
            outline: none;
        }
        .formulario__login{
            opacity: 1;
            display: block;
        }
        .formulario__register{
            display: none;
        }
        @media screen and (max-width:850px) {
            main{
                margin-top: 50px;
            }
            .caja__trasera{
                max-width: 350px;
                height: 300px;
                flex-direction: column;
                margin: auto;
            }
            .caja__trasera div{
                margin: 0;
                position: absolute;
            }
            .contenedor__login-register{
                top: -10px;
                left: -5px;
                margin: auto;
            }
            .contenedor__login-register form{
                position: relative;
            }
        }
      
    </style>
</head>
<br>
<br>
<br>
<body>
       <!-- imagen de la parte de arriba de mi html-->

    <main>
        <!-- textos que complementan mi  form-->
        <div class="contenedor__todo">
            <div class="caja__trasera">
            
                <div class="caja__trasera-register">
                    <h3>.</h3>
                    <p>.</p>
                 
                </div>
            </div>
        
            <!--formulario de login-->
            <div class="contenedor__login-register">
                <form method="POST" action="" class="formulario__login">
                    <h2>inicia sesion</h2>
                    <input name="email" type="email" placeholder="Correo electrónico">
                    <input name="password" type="password" placeholder="Contraseña">
                        <a href="/login/forgot-password">¿Olvidaste tu contraseña?</a>

                    <button class="entrar">entrar</button>

                </form>
                <!--formulario de registro-->
                <form method="POST" action="" class="formulario__register">
                    <h2>Registrarse</h2>
                    <input name="nombre_completo" type="text" placeholder="nombre completo">
                    <input name="electronico" type="text" placeholder="correo electronico">
                    <input name="usuari" type="text" placeholder="usuario">
                    <input name="clavel" type="password" placeholder="contraseña">
                    <button name="registeer">registrarse</button>
                </form>
            </div>
        </div>
    </main>
   <br>
   <br>
   <br>
   <br>
   <br>

    
    <script src="./pagina login/js/script.js"></script>
</body>
</html>
