<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vianco</title>
    
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <style>

    #vigilado{
    float: right;
    position: relative;
    top: 74px;
    right: 4%;
    }
    #logo{
    position: relative;
    left: 3%;
    

}
 
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;

}


    </style>
</head>
<body>

    <header>
        <img id="membrete"   src="../imagenes/menbrete.png"/>
        <img  id="logo"      src="../imagenes/logo vianco.png"/>
        <img  id="vigilado"  src="../imagenes/vigilado.png"/>
        
       
 




    </header>

 
   {{{body}}}
</body>
</html>
