<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inspección y Supervisión</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 50%;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-size: 21PX;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }

        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .form-group label {
            flex: 1;
            margin-right: 10px;
            font-weight: bold;
        }

        .form-group input[type="text"],
        .form-group input[type="date"],
        .form-group select {
            flex: 3;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .options-group {
            flex: 2;
            display: flex;
            flex-wrap: wrap;
        }

        .options-group label {
            margin-right: 20px; /* Ajuste el margen entre las etiquetas */
            width: 180px; /* Establezca un ancho fijo para cada opción */
            display: inline-block; /* Asegúrese de que las etiquetas ocupen el mismo espacio */
        }

        input[type="submit"] {
            background-color: #90c9a7;
            color: white;
            padding: 15px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        header {
            background-color: white;
        }
        .options-group input[type="radio"] {
    transform: scale(1.9); /* Ajusta el valor según lo grande que quieras que sean los botones de radio */
}
  #logo {
            position: relative;
            left: 90px;
            width: 400px;
        }

        #vigilado {
            float: right;
            width: 300px;
        }
    </style>
</head>
<body>
<header>
    <img id="membrete" src="/imagenes/menbrete.png"/>
    <img id="logo" src="/imagenes/logo vianco.png"/>
    <img id="vigilado" src="/imagenes/vigilado.png"/>
    <hr>
</header>
<div class="container">
    <h1>AUDITORIA  </h1>
    <form action="/guardar_auditoria" method="POST">
        <div class="form-group">
            <label for="placa"><h3>Selecciona una placa:</h3></label>
            <input type="text" style="display: none;" id="search" placeholder="Buscar placa..." oninput="filterPlacas()">
            <select id="placa" name="placa">
                {{#each placas}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
      
        <div class="form-group">
            <label for="fecha"> <h2>Fecha:</h2></label>
            <input type="date" id="fecha" name="fecha" required readonly>
        </div>
<br>

   <div class="form-group">
            <label for="Realizada"> <h2>Responsable:    {{ nombreUsuario }}</h2></label>
                <input type="hidden" name="nombreUsuario" value="{{ nombreUsuario }}">

        </div>

<br>
<hr>
        <div class="form-group">
            <label for="inspeccion"><h2> Inspecciones:</h2></label>
            <div class="options-group">
                <input type="radio" id="inspeccion_cumple" name="inspeccion" value="cumple">
                <label for="inspeccion_cumple">Cumple</label>
                <input type="radio" id="inspeccion_no_cumple" name="inspeccion" value="no_cumple">
                <label for="inspeccion_no_cumple">No Cumple</label>
                <input type="radio" id="inspeccion_cumple_parcialmente" name="inspeccion" value="cumple_parcialmente">
                <label for="inspeccion_cumple_parcialmente">Cumple Parcialmente</label>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <div class="form-group">
            <label for="supervision"><h2>Supervisiones:</h2></label>
            <div class="options-group">
                <input type="radio" id="supervision_cumple" name="supervision" value="cumple">
                <label for="supervision_cumple">Cumple</label>
                <input type="radio" id="supervision_no_cumple" name="supervision" value="no_cumple">
                <label for="supervision_no_cumple">No Cumple</label>
                <input type="radio" id="supervision_n/a" name="supervision" value="n/a">
                <label for="supervision_n/a">N/A</label>
            </div>
        </div>
<br>
<br>
<hr>
        <div class="form-group">
            <label for="programacion"><h2> Programación:</h2></label>
            <div class="options-group">
                <input type="radio" id="programacion_cumple" name="programacion" value="cumple">
                <label for="programacion_cumple">Cumple</label>
                <input type="radio" id="programacion_no_cumple" name="programacion" value="no_cumple">
                <label for="programacion_no_cumple">No Cumple</label>
              
                <input type="radio" id="programacion_adicional" name="programacion" value="adicional">
                <label for="programacion_adicional">Turno Adicional</label>
            </div>
        </div>
<br>
<br>
        <input type="submit" value="Guardar">
    </form>
</div>

<script>
    // Obtener la fecha actual
    var today = new Date();

    // Formatear la fecha como YYYY-MM-DD
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); // Enero es 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;

    // Establecer la fecha actual como el valor predeterminado del campo de fecha
    var fechaInput = document.getElementById('fecha');
    fechaInput.value = today;

    // Hacer que el campo de fecha sea de solo lectura
    fechaInput.setAttribute('readonly', 'true');
     // JavaScript para filtrar las placas
    function filterPlacas() {
        var input, filter, select, options, option, i, txtValue;
        input = document.getElementById('search');
        filter = input.value.toUpperCase();
        select = document.getElementById('placa');
        options = select.getElementsByTagName('option');
        for (i = 0; i < options.length; i++) {
            option = options[i];
            txtValue = option.textContent || option.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                option.style.display = "";
            } else {
                option.style.display = "none";
            }
        }
    }
</script>

</body>
</html>
